In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd
from google.colab import output
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import plotly.express as ex
import plotly.graph_objs as go
import plotly.offline as pyo
from plotly.subplots import make_subplots
from sklearn.preprocessing import StandardScaler, LabelEncoder, OneHotEncoder

# 2019~2021 데이터 전처리

## 구별 복지관 수

In [ ]:
bok= pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/서울시사회복지시설(장애인지역사회재활시설)목록.csv',encoding='cp949')

In [ ]:
bok.shape

(234, 9)

In [ ]:
bok_f= bok.groupby(['시군구명']).agg({'시설명':'count'}).reset_index()

In [ ]:
bok_f.rename(columns={'시군구명':'구'},inplace=True)
bok_f.rename(columns={'시설명':'시설수'},inplace=True)

In [ ]:
bok_f.head()

     구  시설수
0  강남구   17
1  강동구   13
2  강북구    8
3  강서구   17
4  관악구    9

In [ ]:
lst=[]
lst = bok['시군구명'].unique()

In [ ]:
lst

array(['송파구', '동작구', '강남구', '마포구', '노원구', '중랑구', '구로구', '은평구', '서초구',
       '강서구', '금천구', '서대문구', '용산구', '성북구', '강북구', '양천구', '도봉구', '관악구',
       '강동구', '영등포구', '광진구', '성동구', '중구', '종로구', '동대문구'], dtype=object)

In [ ]:
bok2 = bok['시군구명'].value_counts(ascending=True)

In [ ]:
bok2.head()

성북구     3
중랑구     3
동대문구    4
성동구     4
종로구     4
Name: 시군구명, dtype: int64

In [ ]:
bok2

성북구      3
중랑구      3
동대문구     4
성동구      4
종로구      4
금천구      6
용산구      6
양천구      7
서대문구     7
영등포구     7
중구       8
강북구      8
구로구      8
도봉구      8
동작구      9
광진구      9
관악구      9
은평구     10
마포구     10
강동구     13
서초구     13
강서구     17
강남구     17
송파구     17
노원구     27
Name: 시군구명, dtype: int64

## 구별 장애인 인구 수

### 2021

In [ ]:
pop2021 = pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/인구수/서울시동별장애인인구수2021.csv', encoding='cp949')

In [ ]:
pop2021.head()

,기간,자치구,동,합계,합계.1,합계.2,장애유형,장애유형.1,장애유형.2,장애유형.3,...,장애유형.35,장애유형.36,장애유형.37,장애유형.38,장애유형.39,장애유형.40,장애유형.41,장애유형.42,장애유형.43,장애유형.44
0,기간,자치구,동,합계,합계,합계,지체,지체,지체,뇌병변,...,간,안면,안면,안면,장루요루,장루요루,장루요루,뇌전증,뇌전증,뇌전증
1,기간,자치구,동,계,남자,여자,계,남자,여자,계,...,여자,계,남자,여자,계,남자,여자,계,남자,여자
2,2021,합계,합계,"392,123","227,302","164,821","167,986","94,721","73,265","40,299",...,828,381,210,171,"2,959","1,830","1,129","1,248",687,561
3,2021,종로구,소계,"5,929","3,426","2,503","2,508","1,370","1,138",553,...,13,7,4,3,30,19,11,16,8,8
4,2021,종로구,사직동,277,163,114,117,71,46,34,...,-,-,-,-,3,2,1,-,-,-

In [ ]:
pop21 = pop2021[pop2021['동']=='소계']

In [ ]:
pop21.head()

,기간,자치구,동,합계,합계.1,합계.2,장애유형,장애유형.1,장애유형.2,장애유형.3,...,장애유형.35,장애유형.36,장애유형.37,장애유형.38,장애유형.39,장애유형.40,장애유형.41,장애유형.42,장애유형.43,장애유형.44
3,2021,종로구,소계,"5,929","3,426","2,503","2,508","1,370","1,138",553,...,13,7,4,3,30,19,11,16,8,8
21,2021,중구,소계,"5,634","3,262","2,372","2,498","1,362","1,136",567,...,10,7,3,4,43,29,14,21,12,9
37,2021,용산구,소계,"7,686","4,445","3,241","3,253","1,778","1,475",757,...,11,5,4,1,71,44,27,22,16,6
54,2021,성동구,소계,"11,284","6,515","4,769","5,061","2,844","2,217","1,142",...,29,12,8,4,92,55,37,42,24,18
72,2021,광진구,소계,"12,253","7,087","5,166","5,415","3,019","2,396","1,192",...,18,9,5,4,101,76,25,44,27,17

In [ ]:
pop21.rename(columns={'기간':'연도'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
pop21.rename(columns={'자치구':'구'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
pop21.rename(columns={'합계':'인구수'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
pop21_f = pop21[['구','인구수','연도']]

In [ ]:
pop21_f.head()

      구     인구수    연도
3   종로구   5,929  2021
21   중구   5,634  2021
37  용산구   7,686  2021
54  성동구  11,284  2021
72  광진구  12,253  2021

### 2020

In [ ]:
pop2020 = pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/인구수/서울시동별장애인인구수2020.csv', encoding='cp949')

In [ ]:
pop2020.head()

,기간,자치구,동,합계,합계.1,합계.2,장애유형,장애유형.1,장애유형.2,장애유형.3,...,장애유형.35,장애유형.36,장애유형.37,장애유형.38,장애유형.39,장애유형.40,장애유형.41,장애유형.42,장애유형.43,장애유형.44
0,기간,자치구,동,합계,합계,합계,지체,지체,지체,뇌병변,...,간,안면,안면,안면,장루요루,장루요루,장루요루,뇌전증,뇌전증,뇌전증
1,기간,자치구,동,계,남자,여자,계,남자,여자,계,...,여자,계,남자,여자,계,남자,여자,계,남자,여자
2,2020,합계,합계,"394,190","228,386","165,804","172,606","97,303","75,303","40,905",...,803,378,205,173,"2,901","1,796","1,105","1,251",685,566
3,2020,종로구,소계,"6,015","3,488","2,527","2,586","1,388","1,198",582,...,12,7,4,3,31,21,10,11,4,7
4,2020,종로구,사직동,284,167,117,124,76,48,34,...,-,-,-,-,3,2,1,-,-,-

In [ ]:
pop20 = pop2020[pop2020['동']=='소계']

In [ ]:
pop20.head()

,기간,자치구,동,합계,합계.1,합계.2,장애유형,장애유형.1,장애유형.2,장애유형.3,...,장애유형.35,장애유형.36,장애유형.37,장애유형.38,장애유형.39,장애유형.40,장애유형.41,장애유형.42,장애유형.43,장애유형.44
3,2020,종로구,소계,"6,015","3,488","2,527","2,586","1,388","1,198",582,...,12,7,4,3,31,21,10,11,4,7
21,2020,중구,소계,"5,700","3,282","2,418","2,572","1,391","1,181",565,...,9,5,2,3,40,26,14,21,12,9
37,2020,용산구,소계,"7,960","4,602","3,358","3,441","1,884","1,557",784,...,14,6,5,1,65,39,26,23,14,9
54,2020,성동구,소계,"11,412","6,564","4,848","5,212","2,899","2,313","1,178",...,26,12,8,4,88,50,38,42,25,17
72,2020,광진구,소계,"12,353","7,194","5,159","5,593","3,163","2,430","1,221",...,17,8,4,4,109,81,28,42,25,17

In [ ]:
pop20.rename(columns={'기간':'연도'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
pop20.rename(columns={'자치구':'구'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
pop20.rename(columns={'합계':'인구수'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
pop20_f = pop20[['구','인구수','연도']]

In [ ]:
pop20_f.head()

      구     인구수    연도
3   종로구   6,015  2020
21   중구   5,700  2020
37  용산구   7,960  2020
54  성동구  11,412  2020
72  광진구  12,353  2020

In [ ]:
pop=pop21_f.append(pop20_f)

In [ ]:
pop.head()

      구     인구수    연도
3   종로구   5,929  2021
21   중구   5,634  2021
37  용산구   7,686  2021
54  성동구  11,284  2021
72  광진구  12,253  2021

### 2019

In [ ]:
pop2019 = pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/인구수/서울시동별장애인인구수2019.csv', encoding='cp949')

In [ ]:
pop2019.head()

,기간,자치구,동,합계,합계.1,합계.2,장애유형,장애유형.1,장애유형.2,장애유형.3,...,장애유형.35,장애유형.36,장애유형.37,장애유형.38,장애유형.39,장애유형.40,장애유형.41,장애유형.42,장애유형.43,장애유형.44
0,기간,자치구,동,합계,합계,합계,지체,지체,지체,뇌병변,...,간,안면,안면,안면,장루요루,장루요루,장루요루,뇌전증,뇌전증,뇌전증
1,기간,자치구,동,계,남자,여자,계,남자,여자,계,...,여자,계,남자,여자,계,남자,여자,계,남자,여자
2,2019,합계,합계,"394,843","228,821","166,022","176,767","99,610","77,157","41,304",...,775,385,212,173,"2,855","1,784","1,071","1,244",687,557
3,2019,종로구,소계,"6,068","3,515","2,553","2,661","1,431","1,230",574,...,11,6,3,3,34,21,13,20,11,9
4,2019,종로구,사직동,295,169,126,129,75,54,38,...,-,-,-,-,1,1,-,1,-,1

In [ ]:
pop19 = pop2019[pop2019['동']=='소계']

In [ ]:
pop19.head()

,기간,자치구,동,합계,합계.1,합계.2,장애유형,장애유형.1,장애유형.2,장애유형.3,...,장애유형.35,장애유형.36,장애유형.37,장애유형.38,장애유형.39,장애유형.40,장애유형.41,장애유형.42,장애유형.43,장애유형.44
3,2019,종로구,소계,"6,068","3,515","2,553","2,661","1,431","1,230",574,...,11,6,3,3,34,21,13,20,11,9
22,2019,중구,소계,"5,712","3,282","2,430","2,613","1,414","1,199",568,...,8,5,2,3,36,26,10,22,13,9
38,2019,용산구,소계,"8,025","4,633","3,392","3,518","1,923","1,595",804,...,16,6,5,1,68,41,27,20,11,9
55,2019,성동구,소계,"11,686","6,772","4,914","5,460","3,062","2,398","1,219",...,23,15,8,7,85,52,33,39,24,15
73,2019,광진구,소계,"12,563","7,319","5,244","5,800","3,283","2,517","1,252",...,18,8,5,3,105,81,24,49,29,20

In [ ]:
pop19.rename(columns={'기간':'연도'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
pop19.rename(columns={'자치구':'구'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
pop19.rename(columns={'합계':'인구수'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
pop19_f = pop19[['구','인구수','연도']]

In [ ]:
pop19_f.head()

      구     인구수    연도
3   종로구   6,068  2019
22   중구   5,712  2019
38  용산구   8,025  2019
55  성동구  11,686  2019
73  광진구  12,563  2019

In [ ]:
popf = pop.append(pop19_f)

In [ ]:
popf.reset_index(inplace=True)

In [ ]:
popf.drop(columns=['index'],axis=1,inplace=True)

In [ ]:
popf.head()

     구     인구수    연도
0  종로구   5,929  2021
1   중구   5,634  2021
2  용산구   7,686  2021
3  성동구  11,284  2021
4  광진구  12,253  2021

## 교통량

In [ ]:
tra2020_1=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2020csv/01월 서울시 교통량 조사자료 (2020).csv', encoding='cp949')
tra2020_2=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2020csv/02월 서울시 교통량 조사자료 (2020).csv', encoding='cp949')
tra2020_3=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2020csv/03월 서울시 교통량 조사자료 (2020).csv', encoding='cp949')
tra2020_4=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2020csv/04월 서울시 교통량 조사자료 (2020).csv', encoding='cp949')
tra2020_5=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2020csv/05월 서울시 교통량 조사자료 (2020).csv', encoding='cp949')
tra2020_6=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2020csv/06월 서울시 교통량 조사자료 (2020).csv', encoding='cp949')
tra2020_7=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2020csv/07월 서울시 교통량 조사자료 (2020).csv', encoding='cp949')
tra2020_8=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2020csv/08월 서울시 교통량 조사자료 (2020).csv', encoding='cp949')
tra2020_9=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2020csv/09월 서울시 교통량 조사자료 (2020).csv', encoding='cp949')
tra2020_10=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2020csv/10월 서울시 교통량 조사자료 (2020).csv', encoding='cp949')
tra2020_11=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2020csv/11월 서울시 교통량 조사자료 (2020).csv', encoding='cp949')
tra2020_12=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2020csv/12월 서울시 교통량 조사자료(2020).csv', encoding='cp949')

In [ ]:
tra2021_1=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2021csv/01월 서울시 교통량 조사자료 (2021).csv',encoding='utf-8')
tra2021_2=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2021csv/02월 서울시 교통량 조사자료 (2021).csv',encoding='utf-8')
tra2021_3=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2021csv/03월 서울시 교통량 조사자료 (2021).csv',encoding='utf-8')
tra2021_4=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2021csv/04월 서울시 교통량 조사자료 (2021).csv',encoding='utf-8')
tra2021_5=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2021csv/05월 서울시 교통량 조사자료 (2021).csv',encoding='utf-8')
tra2021_6=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2021csv/06월 서울시 교통량 조사자료 (2021).csv',encoding='utf-8')
tra2021_7=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2021csv/07월 서울시 교통량 조사자료 (2021).csv',encoding='utf-8')
tra2021_8=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2021csv/08월 서울시 교통량 조사자료 (2021).csv',encoding='utf-8')
tra2021_9=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2021csv/09월 서울시 교통량 조사자료 (2021).csv',encoding='utf-8')
tra2021_10=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2021csv/10월 서울시 교통량 조사자료 (2021).csv',encoding='utf-8')
tra2021_11=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2021csv/11월 서울시 교통량 조사자료 (2021).csv',encoding='utf-8')
tra2021_12=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2021csv/12월 서울시 교통량 조사자료 (2021).csv',encoding='utf-8')

In [ ]:
tra2019_1=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2019csv/서울시 교통량 조사자료2019 (1).csv', encoding='cp949')
tra2019_2=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2019csv/서울시 교통량 조사자료2019 (2).csv', encoding='cp949')
tra2019_3=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2019csv/서울시 교통량 조사자료2019 (3).csv', encoding='cp949')
tra2019_4=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2019csv/서울시 교통량 조사자료2019 (4).csv', encoding='cp949')
tra2019_5=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2019csv/서울시 교통량 조사자료2019 (5).csv', encoding='cp949')
tra2019_6=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2019csv/서울시 교통량 조사자료2019 (6).csv', encoding='cp949')
tra2019_7=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2019csv/서울시 교통량 조사자료2019 (7).csv', encoding='cp949')
tra2019_8=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2019csv/서울시 교통량 조사자료2019 (8).csv', encoding='cp949')
tra2019_9=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2019csv/서울시 교통량 조사자료2019 (9).csv', encoding='cp949')
tra2019_10=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2019csv/서울시 교통량 조사자료2019 (10).csv', encoding='cp949')
tra2019_11=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2019csv/서울시 교통량 조사자료2019 (11).csv', encoding='cp949')
tra2019_12=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2019csv/서울시 교통량 조사자료2019 (12).csv', encoding='cp949')

In [ ]:
tra = tra2020_1.append(tra2020_2).append(tra2020_3).append(tra2020_4).append(tra2020_5).append(tra2020_6).append(tra2020_7).append(tra2020_8).append(tra2020_9).append(tra2020_10).append(tra2020_11).append(tra2020_12).append(tra2021_1).append(tra2021_2).append(tra2021_3).append(tra2021_4).append(tra2021_5).append(tra2021_6).append(tra2021_7).append(tra2021_8).append(tra2021_9).append(tra2021_10).append(tra2021_11).append(tra2021_12).append(tra2019_1).append(tra2019_2).append(tra2019_3).append(tra2019_4).append(tra2019_5).append(tra2019_6).append(tra2019_7).append(tra2019_8).append(tra2019_9).append(tra2019_10).append(tra2019_11).append(tra2019_12)

In [ ]:
tra.reset_index(inplace=True)

In [ ]:
tra.shape

(305456, 35)

In [ ]:
tra.head()

,index,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,...,18시,19시,20시,21시,22시,23시,요일(2),Unnamed: 30,Unnamed: 31,월
0,0,20200101.0,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,712.0,645.0,437.0,...,1157.0,1014.0,954.0,849.0,780.0,480.0,NaN,NaN,NaN,NaN
1,1,20200102.0,목,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,315.0,222.0,186.0,...,1994.0,1443.0,1233.0,1165.0,1094.0,852.0,NaN,NaN,NaN,NaN
2,2,20200103.0,금,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,632.0,457.0,295.0,...,2178.0,1654.0,1356.0,1260.0,1253.0,941.0,NaN,NaN,NaN,NaN
3,3,20200104.0,토,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,740.0,518.0,388.0,...,1530.0,1222.0,1143.0,1089.0,1039.0,791.0,NaN,NaN,NaN,NaN
4,4,20200105.0,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,533.0,424.0,297.0,...,1288.0,1035.0,987.0,884.0,803.0,564.0,NaN,NaN,NaN,NaN

In [ ]:
tra.drop(columns = ['요일(2)','Unnamed: 30','Unnamed: 31','월','index'],axis=1,inplace=True)

In [ ]:
tra.head()

,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20200101.0,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,712.0,645.0,437.0,309.0,...,1472.0,1416.0,1483.0,1329.0,1157.0,1014.0,954.0,849.0,780.0,480.0
1,20200102.0,목,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,315.0,222.0,186.0,165.0,...,1792.0,1897.0,1842.0,2061.0,1994.0,1443.0,1233.0,1165.0,1094.0,852.0
2,20200103.0,금,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,632.0,457.0,295.0,236.0,...,2004.0,1929.0,2049.0,2140.0,2178.0,1654.0,1356.0,1260.0,1253.0,941.0
3,20200104.0,토,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,740.0,518.0,388.0,331.0,...,1837.0,1788.0,1588.0,1669.0,1530.0,1222.0,1143.0,1089.0,1039.0,791.0
4,20200105.0,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,533.0,424.0,297.0,230.0,...,1634.0,1673.0,1494.0,1429.0,1288.0,1035.0,987.0,884.0,803.0,564.0

In [ ]:
tra['교통량']=tra.iloc[:,7:31].sum(axis=1)

In [ ]:
tra.head()

,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,교통량
0,20200101.0,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,712.0,645.0,437.0,309.0,...,1416.0,1483.0,1329.0,1157.0,1014.0,954.0,849.0,780.0,480.0,20801.0
1,20200102.0,목,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,315.0,222.0,186.0,165.0,...,1897.0,1842.0,2061.0,1994.0,1443.0,1233.0,1165.0,1094.0,852.0,32841.0
2,20200103.0,금,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,632.0,457.0,295.0,236.0,...,1929.0,2049.0,2140.0,2178.0,1654.0,1356.0,1260.0,1253.0,941.0,34511.0
3,20200104.0,토,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,740.0,518.0,388.0,331.0,...,1788.0,1588.0,1669.0,1530.0,1222.0,1143.0,1089.0,1039.0,791.0,28159.0
4,20200105.0,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,533.0,424.0,297.0,230.0,...,1673.0,1494.0,1429.0,1288.0,1035.0,987.0,884.0,803.0,564.0,23470.0

1. 교통량 컬럼(하루 교통량이다. 시간대를 다 합쳤고)
2. 최대 교통량인 곳에 빈 셀이 있다면 하루교통량의 평균으로 메꾸기
3. 구별로 나누기 지점명칭빼고 구별로!!
4. 방향합치기
5. 일자, 구로 그룹해서 하루 최대 교통량 지점 찾기
6. 강북구는 도봉,노원,성북 교통량 평균으로 행추가

In [ ]:
# 결측치
tra['0시'] = tra['0시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['1시'] = tra['1시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['2시'] = tra['2시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['3시'] = tra['3시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['4시'] = tra['4시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['5시'] = tra['5시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['6시'] = tra['6시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['7시'] = tra['7시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['8시'] = tra['8시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['9시'] = tra['9시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))

In [ ]:
tra['10시'] = tra['10시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['11시'] = tra['11시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['12시'] = tra['12시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['13시'] = tra['13시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['14시'] = tra['14시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['15시'] = tra['15시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['16시'] = tra['16시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['17시'] = tra['17시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['18시'] = tra['18시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['19시'] = tra['19시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))

In [ ]:
tra['20시'] = tra['20시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['21시'] = tra['21시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['22시'] = tra['22시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra['23시'] = tra['23시'].fillna(tra.groupby(['일자','지점명'])['교통량'].transform('mean'))

In [ ]:
tra.isnull().sum()

일자      9536
요일      9536
지점명     9536
지점번호    9536
방향      9536
구분      9536
0시      9536
1시      9536
2시      9536
3시      9536
4시      9536
5시      9536
6시      9536
7시      9536
8시      9536
9시      9536
10시     9536
11시     9536
12시     9536
13시     9536
14시     9536
15시     9536
16시     9536
17시     9536
18시     9536
19시     9536
20시     9536
21시     9536
22시     9536
23시     9536
교통량        0
dtype: int64

In [ ]:
spot = pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2020csv/교통지점2020.csv', encoding='cp949')

In [ ]:
spot.head()

,지점번호,지점명칭,위도,경도,주소,도로명 주소,유입 방향,유출방향
0,A-01,성산로(금화터널),37.568588,126.948436,서울시 서대문구 신촌동 1-142,NaN,[성산로]봉원고가차도->독립문역,[성산로]독립문역->봉원고가차도
1,A-02,사직로(사직터널),37.572298,126.962853,서울시 종로구 행촌동 1-186,NaN,[사직로]독립문역->사직단,[사직로]사직단->독립문역
2,A-03,자하문로(자하문터널),37.588831,126.968548,서울시 종로구 청운동 24-6,NaN,[자하문로]석파정->청운초등학교,[자하문로]청운초등학교->석파정
3,A-04,대사관로(삼청터널),37.596359,126.984209,서울시 성북구 성북동 산25-148,NaN,[삼청로]삼청각->삼청공원입구,[삼청로]삼청공원입구->삼청각
4,A-05,율곡로(안국역),37.576000,126.984342,서울시 종로구 경운동 90-4,서울시 종로구 율곡로 46,[율곡로]안국역->안국동사거리,[율곡로]안국동사거리->안국역

In [ ]:
spot['구']=spot['주소'].str.split(" ").str[1]

In [ ]:
spot.head()

,지점번호,지점명칭,위도,경도,주소,도로명 주소,유입 방향,유출방향,구
0,A-01,성산로(금화터널),37.568588,126.948436,서울시 서대문구 신촌동 1-142,NaN,[성산로]봉원고가차도->독립문역,[성산로]독립문역->봉원고가차도,서대문구
1,A-02,사직로(사직터널),37.572298,126.962853,서울시 종로구 행촌동 1-186,NaN,[사직로]독립문역->사직단,[사직로]사직단->독립문역,종로구
2,A-03,자하문로(자하문터널),37.588831,126.968548,서울시 종로구 청운동 24-6,NaN,[자하문로]석파정->청운초등학교,[자하문로]청운초등학교->석파정,종로구
3,A-04,대사관로(삼청터널),37.596359,126.984209,서울시 성북구 성북동 산25-148,NaN,[삼청로]삼청각->삼청공원입구,[삼청로]삼청공원입구->삼청각,성북구
4,A-05,율곡로(안국역),37.576000,126.984342,서울시 종로구 경운동 90-4,서울시 종로구 율곡로 46,[율곡로]안국역->안국동사거리,[율곡로]안국동사거리->안국역,종로구

In [ ]:
spot['구'].unique()

array(['서대문구', '종로구', '성북구', '중구', '용산구', '도봉구', '노원구', '광진구', '구리시',
       '중랑구', '하남시', '강동구', '서초구', '송파구', '강남구', '과천시', '금천구', '구로구',
       '광명시', '강서구', '양천구', '부천시', '김포시', '고양시', '은평구', '마포구', '영등포구',
       '성동구', '동작구', '관악구', '동대문구', nan], dtype=object)

In [ ]:
spot.rename(columns={'지점명칭':'지점명'},inplace=True)

In [ ]:
spot.head()

,지점번호,지점명,위도,경도,주소,도로명 주소,유입 방향,유출방향,구
0,A-01,성산로(금화터널),37.568588,126.948436,서울시 서대문구 신촌동 1-142,NaN,[성산로]봉원고가차도->독립문역,[성산로]독립문역->봉원고가차도,서대문구
1,A-02,사직로(사직터널),37.572298,126.962853,서울시 종로구 행촌동 1-186,NaN,[사직로]독립문역->사직단,[사직로]사직단->독립문역,종로구
2,A-03,자하문로(자하문터널),37.588831,126.968548,서울시 종로구 청운동 24-6,NaN,[자하문로]석파정->청운초등학교,[자하문로]청운초등학교->석파정,종로구
3,A-04,대사관로(삼청터널),37.596359,126.984209,서울시 성북구 성북동 산25-148,NaN,[삼청로]삼청각->삼청공원입구,[삼청로]삼청공원입구->삼청각,성북구
4,A-05,율곡로(안국역),37.576000,126.984342,서울시 종로구 경운동 90-4,서울시 종로구 율곡로 46,[율곡로]안국역->안국동사거리,[율곡로]안국동사거리->안국역,종로구

In [ ]:
spot_1 = spot[['지점명','구']]

In [ ]:
spot_1.head()

           지점명     구
0    성산로(금화터널)  서대문구
1    사직로(사직터널)   종로구
2  자하문로(자하문터널)   종로구
3   대사관로(삼청터널)   성북구
4     율곡로(안국역)   종로구

In [ ]:
tra_1 = pd.merge(tra,spot_1, on='지점명')

In [ ]:
tra_1.head()

,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,16시,17시,18시,19시,20시,21시,22시,23시,교통량,구
0,20200101.0,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,712.0,645.0,437.0,309.0,...,1483.0,1329.0,1157.0,1014.0,954.0,849.0,780.0,480.0,20801.0,서대문구
1,20200102.0,목,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,315.0,222.0,186.0,165.0,...,1842.0,2061.0,1994.0,1443.0,1233.0,1165.0,1094.0,852.0,32841.0,서대문구
2,20200103.0,금,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,632.0,457.0,295.0,236.0,...,2049.0,2140.0,2178.0,1654.0,1356.0,1260.0,1253.0,941.0,34511.0,서대문구
3,20200104.0,토,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,740.0,518.0,388.0,331.0,...,1588.0,1669.0,1530.0,1222.0,1143.0,1089.0,1039.0,791.0,28159.0,서대문구
4,20200105.0,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,533.0,424.0,297.0,230.0,...,1494.0,1429.0,1288.0,1035.0,987.0,884.0,803.0,564.0,23470.0,서대문구

In [ ]:
tra_2 = tra_1.groupby(['일자','구','지점명']).agg({'교통량':'sum'}).reset_index()

In [ ]:
# 유입 유출 방향 합치기
tra_2.head()

           일자    구            지점명       교통량
0  20190101.0  강남구  강남대로(강남역-신분당)   35642.0
1  20190101.0  강남구      강남대로(신사역)   54615.0
2  20190101.0  강남구    남부순환로(수서IC)   65455.0
3  20190101.0  강남구   밤고개로(세곡동사거리)   20711.0
4  20190101.0  강남구          분당수서로  111556.0

In [ ]:
# 구별 하루 최대 교통량 지점
tra_3 = tra_1.groupby(['일자','구']).agg({'교통량':'max'}).reset_index()

In [ ]:
tra_3.head()

           일자    구      교통량
0  20190101.0  강남구  74968.0
1  20190101.0  강동구  86442.0
2  20190101.0  강서구  70420.0
3  20190101.0  고양시  23288.0
4  20190101.0  과천시  40329.0

강북구를 위한 데이터셋 제작

In [ ]:
condition = (tra_3.구 == '도봉구') | (tra_3.구 =='노원구')|(tra_3.구=='성북구')
tra_5 = tra_3[condition]

In [ ]:
tra_5.head()

            일자    구      교통량
12  20190101.0  노원구  54178.0
13  20190101.0  도봉구  19069.0
21  20190101.0  성북구  65125.0
43  20190102.0  노원구  57152.0
44  20190102.0  도봉구  26412.0

In [ ]:
book = tra_5.groupby(['일자']).agg({'교통량':'mean'}).reset_index()

In [ ]:
book.head()

           일자           교통량
0  20190101.0  46124.000000
1  20190102.0  52518.000000
2  20190103.0  54667.333333
3  20190104.0  54165.000000
4  20190105.0  53508.333333

In [ ]:
book['구']='강북구'

In [ ]:
book.head()

           일자           교통량    구
0  20190101.0  46124.000000  강북구
1  20190102.0  52518.000000  강북구
2  20190103.0  54667.333333  강북구
3  20190104.0  54165.000000  강북구
4  20190105.0  53508.333333  강북구

In [ ]:
book = book[['일자','구','교통량']]

In [ ]:
book.head()

           일자    구           교통량
0  20190101.0  강북구  46124.000000
1  20190102.0  강북구  52518.000000
2  20190103.0  강북구  54667.333333
3  20190104.0  강북구  54165.000000
4  20190105.0  강북구  53508.333333

In [ ]:
tra_3.shape

(33976, 3)

In [ ]:
tra_4=tra_3.append(book)

In [ ]:
tra_4.shape

(35072, 3)

In [ ]:
tra_4.reset_index(inplace=True)

In [ ]:
tra_4

       index          일자    구           교통량
0          0  20190101.0  강남구  74968.000000
1          1  20190101.0  강동구  86442.000000
2          2  20190101.0  강서구  70420.000000
3          3  20190101.0  고양시  23288.000000
4          4  20190101.0  과천시  40329.000000
...      ...         ...  ...           ...
35067   1091  20211227.0  강북구  50915.666667
35068   1092  20211228.0  강북구  51687.000000
35069   1093  20211229.0  강북구  51301.000000
35070   1094  20211230.0  강북구  53393.666667
35071   1095  20211231.0  강북구  53412.666667

[35072 rows x 4 columns]

In [ ]:
import datetime
tra_4['일자'] = pd.to_datetime(tra_4['일자'], format="%Y%m%d")

In [ ]:
tra_4

       index         일자    구           교통량
0          0 2019-01-01  강남구  74968.000000
1          1 2019-01-01  강동구  86442.000000
2          2 2019-01-01  강서구  70420.000000
3          3 2019-01-01  고양시  23288.000000
4          4 2019-01-01  과천시  40329.000000
...      ...        ...  ...           ...
35067   1091 2021-12-27  강북구  50915.666667
35068   1092 2021-12-28  강북구  51687.000000
35069   1093 2021-12-29  강북구  51301.000000
35070   1094 2021-12-30  강북구  53393.666667
35071   1095 2021-12-31  강북구  53412.666667

[35072 rows x 4 columns]

In [ ]:
tra_4["일자"].value_counts()

2019-01-01    32
2020-12-29    32
2021-01-04    32
2021-01-03    32
2021-01-02    32
              ..
2020-01-07    32
2020-01-08    32
2020-01-09    32
2020-01-10    32
2021-12-31    32
Name: 일자, Length: 1096, dtype: int64

In [ ]:
tra_4.drop(columns=['index'],axis=1,inplace=True)

In [ ]:
tra_4.head()

          일자    구      교통량
0 2019-01-01  강남구  74968.0
1 2019-01-01  강동구  86442.0
2 2019-01-01  강서구  70420.0
3 2019-01-01  고양시  23288.0
4 2019-01-01  과천시  40329.0

In [ ]:
tra_4['구'].unique()

array(['강남구', '강동구', '강서구', '고양시', '과천시', '관악구', '광명시', '광진구', '구로구',
       '구리시', '금천구', '김포시', '노원구', '도봉구', '동대문구', '동작구', '마포구', '부천시',
       '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구',
       '종로구', '중구', '중랑구', '하남시', '강북구'], dtype=object)

In [ ]:
tra_4.drop(tra_4.loc[tra_4['구']=='고양시'].index, inplace=True)
tra_4.drop(tra_4.loc[tra_4['구']=='과천시'].index, inplace=True)
tra_4.drop(tra_4.loc[tra_4['구']=='구리시'].index, inplace=True)
tra_4.drop(tra_4.loc[tra_4['구']=='김포시'].index, inplace=True)
tra_4.drop(tra_4.loc[tra_4['구']=='부천시'].index, inplace=True)
tra_4.drop(tra_4.loc[tra_4['구']=='하남시'].index, inplace=True)

In [ ]:
tra_4['구'].unique()

array(['강남구', '강동구', '강서구', '관악구', '광명시', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구', '강북구'],
      dtype=object)

In [ ]:
tra_4.drop(tra_4.loc[tra_4['구']=='광명시'].index, inplace=True)

In [ ]:
tra_4['구'].describe()

count     27400
unique       25
top         강남구
freq       1096
Name: 구, dtype: object

In [ ]:
tra_4.reset_index(drop=True,inplace=True)

In [ ]:
tra_4.head()

          일자    구      교통량
0 2019-01-01  강남구  74968.0
1 2019-01-01  강동구  86442.0
2 2019-01-01  강서구  70420.0
3 2019-01-01  관악구  38121.0
4 2019-01-01  광진구  43813.0

In [ ]:
tra_4["일자"]=tra_4["연도"].astype(str)+ '-' + tra_4["월"].astype(str)+ '-' + tra_4["일"].astype(str)
tra_4

         구           교통량    연도   월   일          일자
0      강남구  74968.000000  2019   1   1    2019-1-1
1      강동구  86442.000000  2019   1   1    2019-1-1
2      강서구  70420.000000  2019   1   1    2019-1-1
3      관악구  38121.000000  2019   1   1    2019-1-1
4      광진구  43813.000000  2019   1   1    2019-1-1
...    ...           ...   ...  ..  ..         ...
27395  강북구  50915.666667  2021  12  27  2021-12-27
27396  강북구  51687.000000  2021  12  28  2021-12-28
27397  강북구  51301.000000  2021  12  29  2021-12-29
27398  강북구  53393.666667  2021  12  30  2021-12-30
27399  강북구  53412.666667  2021  12  31  2021-12-31

[27400 rows x 6 columns]

In [ ]:
tra_4[tra_4['일자']=='2021117']

Empty DataFrame
Columns: [구, 교통량, 연도, 월, 일, 일자]
Index: []

In [ ]:
df_2 = pd.DataFrame(tra_4['일자'].value_counts())
df_2

            일자
2019-1-1    25
2020-12-29  25
2021-1-4    25
2021-1-3    25
2021-1-2    25
...         ..
2020-1-7    25
2020-1-8    25
2020-1-9    25
2020-1-10   25
2021-12-31  25

[1096 rows x 1 columns]

In [ ]:
df_2[df_2['일자']!=25]

Empty DataFrame
Columns: [일자]
Index: []

In [ ]:
tra_4.drop(columns=["일자"],axis=1,inplace=True)

In [ ]:
tra_4

         구           교통량    연도   월   일
0      강남구  74968.000000  2019   1   1
1      강동구  86442.000000  2019   1   1
2      강서구  70420.000000  2019   1   1
3      관악구  38121.000000  2019   1   1
4      광진구  43813.000000  2019   1   1
...    ...           ...   ...  ..  ..
27395  강북구  50915.666667  2021  12  27
27396  강북구  51687.000000  2021  12  28
27397  강북구  51301.000000  2021  12  29
27398  강북구  53393.666667  2021  12  30
27399  강북구  53412.666667  2021  12  31

[27400 rows x 5 columns]

## 승하차

### 2020

In [ ]:
import os

In [ ]:
os.listdir('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/승하차/')

['서울교통공사_역별 월별 장애인 승하차인원 정보_20220228.csv',
 '서울교통공사_역별 월별 장애인 승하차인원 정보_20211231.csv',
 '서울교통공사_역별 월별 장애인 승하차인원 정보_20201231.csv',
 '서울교통공사_월별 장애인 승하차인원_20191231.csv',
 '서울교통공사 2019년 일별 역별 시간대별 승하차인원(1_8호선).xlsx',
 '서울교통공사 2020년 일별 역별 시간대별 승하차인원(1_8호선).csv',
 '서울교통공사 2021년 일별 역별 시간대별 승하차인원(1_8호선).csv']

In [ ]:
get2020 = pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/승하차/서울교통공사 2020년 일별 역별 시간대별 승하차인원(1_8호선).csv', encoding='cp949')
get2021 = pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/승하차/서울교통공사 2021년 일별 역별 시간대별 승하차인원(1_8호선).csv', encoding='cp949')
get2019 = pd.read_excel('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/승하차/서울교통공사 2019년 일별 역별 시간대별 승하차인원(1_8호선).xlsx')

In [ ]:
get2020

,날짜,호선,역번호,역명,구분,06:00 이전,06:00 ~ 07:00,07:00 ~ 08:00,08:00 ~ 09:00,09:00 ~ 10:00,...,15:00 ~ 16:00,16:00 ~ 17:00,17:00 ~ 18:00,18:00 ~ 19:00,19:00 ~ 20:00,20:00 ~ 21:00,21:00 ~ 22:00,22:00 ~ 23:00,23:00 ~ 24:00,24:00 이후
0,2020-01-01,1호선,150,서울역,승차,356,280,313,774,923,...,2972,3194,3342,3002,2857,2311,2523,1830,987,25
1,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,1694,...,2286,2354,2261,1922,1696,1620,1181,768,426,77
2,2020-01-01,1호선,151,시청,승차,105,118,123,206,318,...,873,1019,1234,1383,1271,1061,991,572,217,2
3,2020-01-01,1호선,151,시청,하차,81,223,334,570,611,...,885,783,849,602,435,293,273,174,149,26
4,2020-01-01,1호선,152,종각,승차,798,366,198,236,310,...,1636,1748,1890,1879,1827,1955,1800,1259,406,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202275,2020-12-31,8호선,2825,신흥,하차,31,95,78,211,145,...,341,341,381,428,292,229,219,85,42,0
202276,2020-12-31,8호선,2826,수진,승차,112,203,475,641,311,...,210,236,226,223,121,90,109,35,19,0
202277,2020-12-31,8호선,2826,수진,하차,15,70,92,227,190,...,296,309,300,372,296,232,202,127,45,0
202278,2020-12-31,8호선,2827,모란,승차,49,88,246,314,176,...,282,234,261,282,140,86,112,45,6,0
202279,2020-12-31,8호선,2827,모란,하차,15,59,111,181,142,...,163,183,228,183,162,71,99,39,25,3

In [ ]:
get2020['역명'].unique()

array(['서울역', '시청', '종각', '종로3가', '종로5가', '동대문', '신설동', '제기동',
       '청량리(서울시립대입구)', '동묘앞', '을지로입구', '을지로3가', '을지로4가', '동대문역사문화공원(DDP)',
       '신당', '상왕십리', '왕십리(성동구청)', '한양대', '뚝섬', '성수', '건대입구', '구의(광진구청)',
       '강변(동서울터미널)', '잠실나루', '잠실(송파구청)', '잠실새내', '종합운동장', '삼성(무역센터)',
       '선릉', '역삼', '강남', '교대(법원.검찰청)', '서초', '방배', '사당', '낙성대',
       '서울대입구(관악구청)', '봉천', '신림', '신대방', '구로디지털단지', '대림(구로구청)', '신도림',
       '문래', '영등포구청', '당산', '합정', '홍대입구', '신촌', '이대', '아현', '충정로(경기대입구)',
       '용답', '신답', '도림천', '양천구청', '신정네거리', '용두(동대문구청)', '지축', '구파발',
       '연신내', '불광', '녹번', '홍제', '무악재', '독립문', '경복궁(정부서울청사)', '안국', '동대입구',
       '약수', '금호', '옥수', '압구정', '신사', '잠원', '고속터미널', '남부터미널(예술의전당)',
       '양재(서초구청)', '매봉', '도곡', '대치', '학여울', '대청', '일원', '수서', '가락시장',
       '경찰병원', '오금', '당고개', '상계', '노원', '창동', '쌍문', '수유(강북구청)',
       '미아(서울사이버대학)', '미아사거리', '길음', '성신여대입구(돈암)', '한성대입구(삼선교)', '혜화',
       '충무로', '명동', '회현(남대문시장)', '숙대입구(갈월)', '삼각지', '신용산', '이촌(국립중앙박물관)',
       '동작(현충원)', '총신대입구(이수)', '남태령', '방화', '개화산', '김포공항', '송정', '마곡',
       '발산', '우장산', '화곡', '까치산', '신정(은행정)', '목동', '오목교(목동운동장앞)', '양평',
       '영등포시장', '신길', '여의도', '여의나루', '마포', '공덕', '애오개', '서대문',
       '광화문(세종문화회관)', '청구', '신금호', '행당', '마장', '답십리', '장한평', '군자(능동)',
       '아차산(어린이대공원후문)', '광나루(장신대)', '천호(풍납토성)', '강동', '길동',
       '굽은다리(강동구민회관앞)', '명일', '고덕', '상일동', '둔촌동', '올림픽공원(한국체대)', '방이',
       '개롱', '거여', '마천', '응암', '역촌', '독바위', '구산', '새절(신사)', '증산(명지대앞)',
       '디지털미디어시티', '월드컵경기장(성산)', '마포구청', '망원', '상수', '광흥창(서강)',
       '대흥(서강대앞)', '효창공원앞', '녹사평(용산구청)', '이태원', '한강진', '버티고개', '창신', '보문',
       '안암(고대병원앞)', '고려대(종암)', '월곡(동덕여대)', '상월곡(한국과학기술연구원)', '돌곶이', '석계',
       '태릉입구', '화랑대(서울여대입구)', '봉화산(서울의료원)', '장암', '도봉산', '수락산', '마들',
       '중계', '하계', '공릉(서울과학기술대)', '먹골', '중화', '상봉(시외버스터미널)', '면목', '사가정',
       '용마산', '중곡', '어린이대공원(세종대)', '뚝섬유원지', '청담', '강남구청', '학동', '논현',
       '반포', '내방', '이수', '남성', '숭실대입구(살피재)', '상도', '장승배기', '신대방삼거리',
       '보라매', '신풍', '남구로', '가산디지털단지', '철산', '광명사거리', '천왕', '온수(성공회대입구)',
       '까치울', '부천종합운동장', '춘의', '신중동', '부천시청', '상동', '삼산체육관', '굴포천',
       '부평구청', '암사', '강동구청', '몽촌토성(평화의문)', '석촌', '송파', '문정', '장지', '복정',
       '산성', '남한산성입구(성남법원.검찰청)', '단대오거리', '신흥', '수진', '모란', '신내',
       '동대문역사문화공원(DDP)(DDP)', '낙성대(강감찬)', '용마산(용마폭포공원)', '하남풍산', '미사'],
      dtype=object)

In [ ]:
sub = pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/서울교통공사_역주소 및 전화번호_20220314.csv', encoding='cp949')

In [ ]:
sub.head()

,연번,역번호,호선,역명,역전화번호,도로명주소,지번주소
0,1,150,1,서울,02-6110-1331,서울특별시 중구 세종대로 지하2(남대문로 5가),서울특별시 중구 남대문로5가 73-6 서울역(1호선)
1,2,151,1,시청,02-6110-1321,서울특별시 중구 세종대로 지하101(정동),서울특별시 중구 정동 5-5 시청역(1호선)
2,3,152,1,종각,02-6110-1311,서울특별시 종로구 종로 지하55(종로1가),서울특별시 종로구 종로1가 54 종각역(1호선)
3,4,153,1,종로3가,02-6110-1301,서울특별시 종로구 종로 지하129(종로3가),서울특별시 종로구 종로3가 10-5 종로3가역(1호선)
4,5,154,1,종로5가,02-6110-1291,서울특별시 종로구 종로 지하216(종로5가),서울특별시 종로구 종로5가 82-1 종로5가역(1호선)

In [ ]:
sub['역명'].unique()

array(['서울', '시청', '종각', '종로3가', '종로5가', '동대문', '신설동', '제기동',
       '청량리(서울시립대입구)', '동묘앞', '을지로입구', '을지로3가', '을지로4가', '동대문역사문화공원(DDP)',
       '신당', '상왕십리', '왕십리(성동구청)', '한양대', '뚝섬', '성수', '건대입구', '구의(광진구청)',
       '강변(동서울터미널)', '잠실나루', '잠실(송파구청)', '잠실새내', '종합운동장', '삼성(무역센터)',
       '선릉', '역삼', '강남', '교대(법원, 검찰청)', '서초', '방배', '사당', '낙성대(강감찬)',
       '서울대입구(관악구청)', '봉천', '신림', '신대방', '구로디지털단지', '대림(구로구청)', '신도림',
       '문래', '영등포구청', '당산', '합정', '홍대입구', '신촌(지하)', '이대', '아현',
       '충정로(경기대입구)', '용답', '신답', '도림천', '양천구청', '신정네거리', '용두(동대문구청)',
       '지축', '구파발', '연신내', '불광', '녹번', '홍제', '무악재', '독립문', '경복궁(정부서울청사)',
       '안국', '충무로', '동대입구', '약수', '금호', '옥수', '압구정', '신사', '잠원', '고속터미널',
       '남부터미널(예술의전당)', '양재(서초구청)', '매봉', '도곡', '대치', '학여울', '대청', '일원',
       '수서', '가락시장', '경찰병원', '오금', '당고개', '상계', '노원', '창동', '쌍문',
       '수유(강북구청)', '미아(서울사이버대학)', '미아사거리 ', '길음', '성신여대입구(돈암)',
       '한성대입구(삼선교)', '혜화', '명동', '회현(남대문시장)', '숙대입구(갈월)', '삼각지', '신용산',
       '이촌(국립중앙박물관)', '동작(현충원)', '총신대입구(이수)', '남태령', '방화', '개화산', '김포공항',
       '송정', '마곡', '발산', '우장산', '화곡', '까치산', '신정(은행정)', '목동',
       '오목교(목동운동장앞)', '양평', '영등포시장', '신길', '여의도', '여의나루', '마포', '공덕',
       '애오개', '서대문', '광화문(세종문화회관)', '종로3가(탑골공원)', '청구', '신금호', '행당', '마장',
       '답십리', '장한평', '군자(능동)', '아차산(어린이대공원후문)', '광나루(장신대)', '천호(풍납토성)',
       '강동', '길동', '굽은다리(강동구민회관앞)', '명일', '고덕', '상일동', '둔촌동',
       '올림픽공원(한국체대)', '방이', '개롱', '거여', '마천', '강일', '미사', '하남풍산',
       '하남시청(덕풍 신장)', '하남검단산', '응암', '역촌', '독바위', '구산', '새절(신사)',
       '증산(명지대앞)', '디지털미디어시티', '월드컵경기장(성산)', '마포구청', '망원', '상수',
       '광흥창(서강)', '대흥(서강대앞)', '효창공원앞', '녹사평(용산구청)', '이태원', '한강진', '버티고개',
       '창신', '보문', '안암(고대병원앞)', '고려대(종암)', '월곡(동덕여대)', '상월곡(한국과학기술연구원)',
       '돌곶이', '석계', '태릉입구', '화랑대(서울여대입구)', '봉화산(서울의료원)', '신내', '장암',
       '도봉산', '수락산', '마들', '중계', '하계', '공릉(서울과학기술대)', '먹골', '중화',
       '상봉(시외버스터미널)', '면목', '사가정', '용마산(용마폭포공원)', '중곡', '어린이대공원(세종대)',
       '뚝섬유원지', '청담', '강남구청', '학동', '논현', '반포', '내방', '이수', '남성',
       '숭실대입구(살피재)', '상도', '장승배기', '신대방삼거리', '보라매', '신풍', '남구로',
       '가산디지털단지', '철산', '광명사거리', '천왕', '온수(성공회대입구)', '암사', '강동구청',
       '몽촌토성(평화의문)', '석촌', '송파', '문정', '장지', '복정', '남위례', '산성',
       '남한산성입구(성남법원 검찰청)', '단대오거리', '신흥', '수진', '모란', '언주', '선정릉', '삼성중앙',
       '봉은사', '삼전', '석촌고분', '송파나루', '한성백제', '둔촌오륜', '중앙보훈병원'],
      dtype=object)

In [ ]:
sub.at[0, '역명'] = '서울역'

In [ ]:
sub['구']=sub['지번주소'].str.split(" ").str[1]

In [ ]:
sub.head()

,연번,역번호,호선,역명,역전화번호,도로명주소,지번주소,구
0,1,150,1,서울역,02-6110-1331,서울특별시 중구 세종대로 지하2(남대문로 5가),서울특별시 중구 남대문로5가 73-6 서울역(1호선),중구
1,2,151,1,시청,02-6110-1321,서울특별시 중구 세종대로 지하101(정동),서울특별시 중구 정동 5-5 시청역(1호선),중구
2,3,152,1,종각,02-6110-1311,서울특별시 종로구 종로 지하55(종로1가),서울특별시 종로구 종로1가 54 종각역(1호선),종로구
3,4,153,1,종로3가,02-6110-1301,서울특별시 종로구 종로 지하129(종로3가),서울특별시 종로구 종로3가 10-5 종로3가역(1호선),종로구
4,5,154,1,종로5가,02-6110-1291,서울특별시 종로구 종로 지하216(종로5가),서울특별시 종로구 종로5가 82-1 종로5가역(1호선),종로구

In [ ]:
sub_1 = sub[['역번호','구']]

In [ ]:
sub_1.head()

   역번호    구
0  150   중구
1  151   중구
2  152  종로구
3  153  종로구
4  154  종로구

In [ ]:
get2020

,날짜,호선,역번호,역명,구분,06:00 이전,06:00 ~ 07:00,07:00 ~ 08:00,08:00 ~ 09:00,09:00 ~ 10:00,...,15:00 ~ 16:00,16:00 ~ 17:00,17:00 ~ 18:00,18:00 ~ 19:00,19:00 ~ 20:00,20:00 ~ 21:00,21:00 ~ 22:00,22:00 ~ 23:00,23:00 ~ 24:00,24:00 이후
0,2020-01-01,1호선,150,서울역,승차,356,280,313,774,923,...,2972,3194,3342,3002,2857,2311,2523,1830,987,25
1,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,1694,...,2286,2354,2261,1922,1696,1620,1181,768,426,77
2,2020-01-01,1호선,151,시청,승차,105,118,123,206,318,...,873,1019,1234,1383,1271,1061,991,572,217,2
3,2020-01-01,1호선,151,시청,하차,81,223,334,570,611,...,885,783,849,602,435,293,273,174,149,26
4,2020-01-01,1호선,152,종각,승차,798,366,198,236,310,...,1636,1748,1890,1879,1827,1955,1800,1259,406,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202275,2020-12-31,8호선,2825,신흥,하차,31,95,78,211,145,...,341,341,381,428,292,229,219,85,42,0
202276,2020-12-31,8호선,2826,수진,승차,112,203,475,641,311,...,210,236,226,223,121,90,109,35,19,0
202277,2020-12-31,8호선,2826,수진,하차,15,70,92,227,190,...,296,309,300,372,296,232,202,127,45,0
202278,2020-12-31,8호선,2827,모란,승차,49,88,246,314,176,...,282,234,261,282,140,86,112,45,6,0
202279,2020-12-31,8호선,2827,모란,하차,15,59,111,181,142,...,163,183,228,183,162,71,99,39,25,3

In [ ]:
get_1 = pd.merge(get2020,sub_1, on='역번호')

In [ ]:
get_1.head()

,날짜,호선,역번호,역명,구분,06:00 이전,06:00 ~ 07:00,07:00 ~ 08:00,08:00 ~ 09:00,09:00 ~ 10:00,...,16:00 ~ 17:00,17:00 ~ 18:00,18:00 ~ 19:00,19:00 ~ 20:00,20:00 ~ 21:00,21:00 ~ 22:00,22:00 ~ 23:00,23:00 ~ 24:00,24:00 이후,구
0,2020-01-01,1호선,150,서울역,승차,356,280,313,774,923,...,3194,3342,3002,2857,2311,2523,1830,987,25,중구
1,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,1694,...,2354,2261,1922,1696,1620,1181,768,426,77,중구
2,2020-01-02,1호선,150,서울역,승차,351,492,1774,3508,2104,...,3715,5874,10382,4630,3206,3054,1962,1064,147,중구
3,2020-01-02,1호선,150,서울역,하차,306,2076,4353,10013,5983,...,2503,2891,3097,2262,1464,1359,1073,578,244,중구
4,2020-01-03,1호선,150,서울역,승차,366,463,1445,2876,2138,...,4732,7182,11119,5584,3807,3632,2877,1370,166,중구

In [ ]:
get_1_time = get_1.iloc[:,5:-1]
get_1_time

,06:00 이전,06:00 ~ 07:00,07:00 ~ 08:00,08:00 ~ 09:00,09:00 ~ 10:00,10:00 ~ 11:00,11:00 ~ 12:00,12:00 ~ 13:00,13:00 ~ 14:00,14:00 ~ 15:00,15:00 ~ 16:00,16:00 ~ 17:00,17:00 ~ 18:00,18:00 ~ 19:00,19:00 ~ 20:00,20:00 ~ 21:00,21:00 ~ 22:00,22:00 ~ 23:00,23:00 ~ 24:00,24:00 이후
0,356,280,313,774,923,1418,2288,2463,2718,2065,2972,3194,3342,3002,2857,2311,2523,1830,987,25
1,235,952,828,1043,1694,1655,2047,2484,2248,2308,2286,2354,2261,1922,1696,1620,1181,768,426,77
2,351,492,1774,3508,2104,1979,2933,3277,2964,2627,3675,3715,5874,10382,4630,3206,3054,1962,1064,147
3,306,2076,4353,10013,5983,2952,2592,2701,2585,2313,2503,2503,2891,3097,2262,1464,1359,1073,578,244
4,366,463,1445,2876,2138,2117,2741,3361,3424,2735,4122,4732,7182,11119,5584,3807,3632,2877,1370,166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195687,1,238,273,568,396,238,204,275,296,335,319,596,730,1907,1687,921,826,493,169,34
195688,127,648,2021,1810,746,426,357,368,369,312,338,457,539,573,250,259,254,127,40,0
195689,1,216,277,506,400,225,255,239,307,310,385,464,772,1859,1381,973,627,478,163,28
195690,142,518,1707,1533,667,398,352,375,384,379,429,528,555,555,316,280,257,137,34,0
195691,0,201,234,482,337,196,223,255,370,393,544,744,1003,1545,1038,769,530,370,138,16

In [ ]:
get_1_time.sum(axis=1)

0         36641
1         30085
2         59718
3         53848
4         66257
          ...
195687    10506
195688    10021
195689     9866
195690     9546
195691     9388
Length: 195692, dtype: int64

In [ ]:
get_1['승하차'] = get_1_time.sum(axis=1)

In [ ]:
display(get_1.head())
display(get_1.tail())

,날짜,호선,역번호,역명,구분,06:00 이전,06:00 ~ 07:00,07:00 ~ 08:00,08:00 ~ 09:00,09:00 ~ 10:00,...,17:00 ~ 18:00,18:00 ~ 19:00,19:00 ~ 20:00,20:00 ~ 21:00,21:00 ~ 22:00,22:00 ~ 23:00,23:00 ~ 24:00,24:00 이후,구,승하차
0,2020-01-01,1호선,150,서울역,승차,356,280,313,774,923,...,3342,3002,2857,2311,2523,1830,987,25,중구,36641
1,2020-01-01,1호선,150,서울역,하차,235,952,828,1043,1694,...,2261,1922,1696,1620,1181,768,426,77,중구,30085
2,2020-01-02,1호선,150,서울역,승차,351,492,1774,3508,2104,...,5874,10382,4630,3206,3054,1962,1064,147,중구,59718
3,2020-01-02,1호선,150,서울역,하차,306,2076,4353,10013,5983,...,2891,3097,2262,1464,1359,1073,578,244,중구,53848
4,2020-01-03,1호선,150,서울역,승차,366,463,1445,2876,2138,...,7182,11119,5584,3807,3632,2877,1370,166,중구,66257

,날짜,호선,역번호,역명,구분,06:00 이전,06:00 ~ 07:00,07:00 ~ 08:00,08:00 ~ 09:00,09:00 ~ 10:00,...,17:00 ~ 18:00,18:00 ~ 19:00,19:00 ~ 20:00,20:00 ~ 21:00,21:00 ~ 22:00,22:00 ~ 23:00,23:00 ~ 24:00,24:00 이후,구,승하차
195687,2020-12-29,5호선,2563,미사,하차,1,238,273,568,396,...,730,1907,1687,921,826,493,169,34,하남시,10506
195688,2020-12-30,5호선,2563,미사,승차,127,648,2021,1810,746,...,539,573,250,259,254,127,40,0,하남시,10021
195689,2020-12-30,5호선,2563,미사,하차,1,216,277,506,400,...,772,1859,1381,973,627,478,163,28,하남시,9866
195690,2020-12-31,5호선,2563,미사,승차,142,518,1707,1533,667,...,555,555,316,280,257,137,34,0,하남시,9546
195691,2020-12-31,5호선,2563,미사,하차,0,201,234,482,337,...,1003,1545,1038,769,530,370,138,16,하남시,9388

In [ ]:
get_1.columns

Index(['날짜', '호선', '역번호', '역명', '구분', '06:00 이전', '06:00 ~ 07:00',
       '07:00 ~ 08:00', '08:00 ~ 09:00', '09:00 ~ 10:00', '10:00 ~ 11:00',
       '11:00 ~ 12:00', '12:00 ~ 13:00', '13:00 ~ 14:00', '14:00 ~ 15:00',
       '15:00 ~ 16:00', '16:00 ~ 17:00', '17:00 ~ 18:00', '18:00 ~ 19:00',
       '19:00 ~ 20:00', '20:00 ~ 21:00', '21:00 ~ 22:00', '22:00 ~ 23:00',
       '23:00 ~ 24:00', '24:00 이후', '구', '승하차'],
      dtype='object')

In [ ]:
get_1 = get_1[['날짜', '역번호', '역명', '구분',  '구', '승하차']]
get_1

                날짜   역번호   역명  구분    구    승하차
0       2020-01-01   150  서울역  승차   중구  36641
1       2020-01-01   150  서울역  하차   중구  30085
2       2020-01-02   150  서울역  승차   중구  59718
3       2020-01-02   150  서울역  하차   중구  53848
4       2020-01-03   150  서울역  승차   중구  66257
...            ...   ...  ...  ..  ...    ...
195687  2020-12-29  2563   미사  하차  하남시  10506
195688  2020-12-30  2563   미사  승차  하남시  10021
195689  2020-12-30  2563   미사  하차  하남시   9866
195690  2020-12-31  2563   미사  승차  하남시   9546
195691  2020-12-31  2563   미사  하차  하남시   9388

[195692 rows x 6 columns]

In [ ]:
get20 = get_1.groupby(['구','날짜']).agg({'승하차':'sum'}).reset_index()
get20

         구          날짜      승하차
0      강남구  2020-01-01   312004
1      강남구  2020-01-02  1098125
2      강남구  2020-01-03  1182835
3      강남구  2020-01-04   712980
4      강남구  2020-01-05   432956
...    ...         ...      ...
10765  하남시  2020-12-27    11251
10766  하남시  2020-12-28    29384
10767  하남시  2020-12-29    29003
10768  하남시  2020-12-30    27479
10769  하남시  2020-12-31    26283

[10770 rows x 3 columns]

In [ ]:
get20['구'].value_counts()

강남구     366
강동구     366
중랑구     366
중구      366
종로구     366
의정부시    366
은평구     366
용산구     366
영등포구    366
양천구     366
송파구     366
성북구     366
성동구     366
성남시     366
서초구     366
서대문구    366
마포구     366
동작구     366
동대문구    366
도봉구     366
노원구     366
금천구     366
구로구     366
광진구     366
광명시     366
관악구     366
고양시     366
강서구     366
강북구     366
하남시     156
Name: 구, dtype: int64

### 2021

In [ ]:
get2021.head()

,연번,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,...,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시 이후,합 계
0,1,2021-01-01,1,150,서울역,승차,86,111,157,306,...,837,796,839,658,579,479,510,445,101,9339
1,2,2021-01-01,1,150,서울역,하차,85,355,438,592,...,781,710,626,437,425,354,307,134,77,9951
2,3,2021-01-01,1,151,시청,승차,43,45,75,111,...,227,233,347,294,186,216,204,110,29,2947
3,4,2021-01-01,1,151,시청,하차,40,145,176,312,...,158,140,152,121,57,54,64,23,17,2700
4,5,2021-01-01,1,152,종각,승차,49,59,89,126,...,513,548,504,572,492,593,513,130,31,5686

In [ ]:
get_2 = pd.merge(get2021,sub_1, on='역번호')

In [ ]:
get_2.head()

,연번,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,...,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시 이후,합 계,구
0,1,2021-01-01,1,150,서울역,승차,86,111,157,306,...,796,839,658,579,479,510,445,101,9339,중구
1,2,2021-01-01,1,150,서울역,하차,85,355,438,592,...,710,626,437,425,354,307,134,77,9951,중구
2,555,2021-01-02,1,150,서울역,승차,113,144,221,403,...,1235,1227,1020,821,718,785,498,134,13245,중구
3,556,2021-01-02,1,150,서울역,하차,83,346,475,584,...,824,772,589,552,382,411,155,98,11159,중구
4,1113,2021-01-03,1,150,서울역,승차,123,109,172,313,...,1096,1453,1079,1212,925,1041,723,238,14584,중구

In [ ]:
get_2 = get_2[['날짜', '역번호', '역명', '구분',  '구', '합 계']]
get_2

                날짜   역번호   역명  구분    구    합 계
0       2021-01-01   150  서울역  승차   중구   9339
1       2021-01-01   150  서울역  하차   중구   9951
2       2021-01-02   150  서울역  승차   중구  13245
3       2021-01-02   150  서울역  하차   중구  11159
4       2021-01-03   150  서울역  승차   중구  14584
...            ...   ...  ...  ..  ...    ...
197799  2021-12-29  2828  남위례  하차  성남시   3849
197800  2021-12-30  2828  남위례  승차  성남시   3381
197801  2021-12-30  2828  남위례  하차  성남시   3771
197802  2021-12-31  2828  남위례  승차  성남시   3092
197803  2021-12-31  2828  남위례  하차  성남시   3438

[197804 rows x 6 columns]

In [ ]:
get_2.columns

Index(['날짜', '역번호', '역명', '구분', '구', '합 계'], dtype='object')

In [ ]:
get_2.columns = ['날짜', '역번호', '역명', '구분', '구', '승하차']
get_2

                날짜   역번호   역명  구분    구    승하차
0       2021-01-01   150  서울역  승차   중구   9339
1       2021-01-01   150  서울역  하차   중구   9951
2       2021-01-02   150  서울역  승차   중구  13245
3       2021-01-02   150  서울역  하차   중구  11159
4       2021-01-03   150  서울역  승차   중구  14584
...            ...   ...  ...  ..  ...    ...
197799  2021-12-29  2828  남위례  하차  성남시   3849
197800  2021-12-30  2828  남위례  승차  성남시   3381
197801  2021-12-30  2828  남위례  하차  성남시   3771
197802  2021-12-31  2828  남위례  승차  성남시   3092
197803  2021-12-31  2828  남위례  하차  성남시   3438

[197804 rows x 6 columns]

In [ ]:
get21 = get_2.groupby(['구','날짜']).agg({'승하차':'sum'}).reset_index()
get21

         구          날짜     승하차
0      강남구  2021-01-01  131723
1      강남구  2021-01-02  258084
2      강남구  2021-01-03  164779
3      강남구  2021-01-04  738146
4      강남구  2021-01-05  741493
...    ...         ...     ...
10945  하남시  2021-12-27   57863
10946  하남시  2021-12-28   60733
10947  하남시  2021-12-29   63467
10948  하남시  2021-12-30   61909
10949  하남시  2021-12-31   57240

[10950 rows x 3 columns]

In [ ]:
get21

         구         날짜     승하차
0      강남구 2021-01-01  131723
1      강남구 2021-01-02  258084
2      강남구 2021-01-03  164779
3      강남구 2021-01-04  738146
4      강남구 2021-01-05  741493
...    ...        ...     ...
10945  하남시 2021-12-27   57863
10946  하남시 2021-12-28   60733
10947  하남시 2021-12-29   63467
10948  하남시 2021-12-30   61909
10949  하남시 2021-12-31   57240

[10950 rows x 3 columns]

In [ ]:
get21.isnull().sum()

구      0
날짜     0
승하차    0
dtype: int64

In [ ]:
get21['구'].value_counts()

강남구     365
강동구     365
중랑구     365
중구      365
종로구     365
의정부시    365
은평구     365
용산구     365
영등포구    365
양천구     365
송파구     365
성북구     365
성동구     365
성남시     365
서초구     365
서대문구    365
마포구     365
동작구     365
동대문구    365
도봉구     365
노원구     365
금천구     365
구로구     365
광진구     365
광명시     365
관악구     365
고양시     365
강서구     365
강북구     365
하남시     365
Name: 구, dtype: int64

### 2019

In [ ]:
get2019.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,(단위:명)
0,날짜,호선,역번호,역명,구분,06시 이전,06 ~ 07,07 ~ 08,08 ~ 09,09 ~ 10,...,16 ~ 17,17 ~ 18,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,24시 이후,합 계
1,2019-01-01 00:00:00,1호선,150,서울역,승차,348,321,348,741,940,...,3226,3447,3277,2898,2590,3004,2234,970,38,39559
2,2019-01-01 00:00:00,1호선,150,서울역,하차,222,821,808,961,1472,...,2491,2572,2060,1991,1683,1217,764,456,149,31279
3,2019-01-01 00:00:00,1호선,151,시청,승차,87,98,143,206,280,...,958,1062,1146,1119,992,904,570,211,6,11836
4,2019-01-01 00:00:00,1호선,151,시청,하차,48,237,323,571,577,...,733,746,606,374,311,268,177,144,57,10359

In [ ]:
get2019 = get2019.rename(columns=get2019.iloc[0])
get2019

,날짜,호선,역번호,역명,구분,06시 이전,06 ~ 07,07 ~ 08,08 ~ 09,09 ~ 10,...,16 ~ 17,17 ~ 18,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,24시 이후,합 계
0,날짜,호선,역번호,역명,구분,06시 이전,06 ~ 07,07 ~ 08,08 ~ 09,09 ~ 10,...,16 ~ 17,17 ~ 18,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,24시 이후,합 계
1,2019-01-01 00:00:00,1호선,150,서울역,승차,348,321,348,741,940,...,3226,3447,3277,2898,2590,3004,2234,970,38,39559
2,2019-01-01 00:00:00,1호선,150,서울역,하차,222,821,808,961,1472,...,2491,2572,2060,1991,1683,1217,764,456,149,31279
3,2019-01-01 00:00:00,1호선,151,시청,승차,87,98,143,206,280,...,958,1062,1146,1119,992,904,570,211,6,11836
4,2019-01-01 00:00:00,1호선,151,시청,하차,48,237,323,571,577,...,733,746,606,374,311,268,177,144,57,10359
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200800,2019-12-31 00:00:00,8호선,2825,신흥,하차,20,87,86,243,208,...,501,510,562,493,378,301,257,154,163,5794
200801,2019-12-31 00:00:00,8호선,2826,수진,승차,111,224,542,813,436,...,427,436,395,245,219,155,126,68,82,6228
200802,2019-12-31 00:00:00,8호선,2826,수진,하차,27,97,115,433,259,...,373,463,501,452,354,332,322,256,163,5996
200803,2019-12-31 00:00:00,8호선,2827,모란,승차,73,95,342,482,253,...,366,375,418,242,199,152,189,126,65,5151
200804,2019-12-31 00:00:00,8호선,2827,모란,하차,15,99,140,386,189,...,306,277,403,279,213,195,186,130,407,4436

In [ ]:
get2019 = get2019.iloc[1:, :]
get2019

,날짜,호선,역번호,역명,구분,06시 이전,06 ~ 07,07 ~ 08,08 ~ 09,09 ~ 10,...,16 ~ 17,17 ~ 18,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,24시 이후,합 계
1,2019-01-01 00:00:00,1호선,150,서울역,승차,348,321,348,741,940,...,3226,3447,3277,2898,2590,3004,2234,970,38,39559
2,2019-01-01 00:00:00,1호선,150,서울역,하차,222,821,808,961,1472,...,2491,2572,2060,1991,1683,1217,764,456,149,31279
3,2019-01-01 00:00:00,1호선,151,시청,승차,87,98,143,206,280,...,958,1062,1146,1119,992,904,570,211,6,11836
4,2019-01-01 00:00:00,1호선,151,시청,하차,48,237,323,571,577,...,733,746,606,374,311,268,177,144,57,10359
5,2019-01-01 00:00:00,1호선,152,종각,승차,669,318,217,203,333,...,1870,2129,2024,1806,1796,1780,1296,497,31,21042
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200800,2019-12-31 00:00:00,8호선,2825,신흥,하차,20,87,86,243,208,...,501,510,562,493,378,301,257,154,163,5794
200801,2019-12-31 00:00:00,8호선,2826,수진,승차,111,224,542,813,436,...,427,436,395,245,219,155,126,68,82,6228
200802,2019-12-31 00:00:00,8호선,2826,수진,하차,27,97,115,433,259,...,373,463,501,452,354,332,322,256,163,5996
200803,2019-12-31 00:00:00,8호선,2827,모란,승차,73,95,342,482,253,...,366,375,418,242,199,152,189,126,65,5151
200804,2019-12-31 00:00:00,8호선,2827,모란,하차,15,99,140,386,189,...,306,277,403,279,213,195,186,130,407,4436

In [ ]:
get_3 = pd.merge(get2019,sub_1, on='역번호')

In [ ]:
get_3.head()

,날짜,호선,역번호,역명,구분,06시 이전,06 ~ 07,07 ~ 08,08 ~ 09,09 ~ 10,...,17 ~ 18,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,24시 이후,합 계,구
0,2019-01-01 00:00:00,1호선,150,서울역,승차,348,321,348,741,940,...,3447,3277,2898,2590,3004,2234,970,38,39559,중구
1,2019-01-01 00:00:00,1호선,150,서울역,하차,222,821,808,961,1472,...,2572,2060,1991,1683,1217,764,456,149,31279,중구
2,2019-01-02 00:00:00,1호선,150,서울역,승차,353,502,1764,3650,2165,...,5373,9855,5040,3090,3108,1936,997,120,58592,중구
3,2019-01-02 00:00:00,1호선,150,서울역,하차,380,2023,4280,10071,5905,...,2618,3238,2249,1531,1266,881,477,200,52933,중구
4,2019-01-03 00:00:00,1호선,150,서울역,승차,404,476,1476,2973,2017,...,5434,9673,4874,3187,3068,2233,1144,153,57841,중구

In [ ]:
get_3.isnull().sum()

날짜         0
호선         0
역번호        0
역명         0
구분         0
06시 이전     0
06 ~ 07    0
07 ~ 08    0
08 ~ 09    0
09 ~ 10    0
10 ~ 11    0
11 ~ 12    0
12 ~ 13    0
13 ~ 14    0
14 ~ 15    0
15 ~ 16    0
16 ~ 17    0
17 ~ 18    0
18 ~ 19    0
19 ~ 20    0
20 ~ 21    0
21 ~ 22    0
22 ~ 23    0
23 ~ 24    0
24시 이후     0
합 계        0
구          0
dtype: int64

In [ ]:
get_3[get_3['구'] == '관악구']

,날짜,호선,역번호,역명,구분,06시 이전,06 ~ 07,07 ~ 08,08 ~ 09,09 ~ 10,...,17 ~ 18,18 ~ 19,19 ~ 20,20 ~ 21,21 ~ 22,22 ~ 23,23 ~ 24,24시 이후,합 계,구
26280,2019-01-01 00:00:00,2호선,227,낙성대,승차,186,344,350,536,722,...,1014,829,515,562,442,373,176,0,12960,관악구
26281,2019-01-01 00:00:00,2호선,227,낙성대,하차,108,372,221,264,439,...,1063,1320,1269,1193,1387,1239,765,39,14719,관악구
26282,2019-01-02 00:00:00,2호선,227,낙성대,승차,461,1075,3905,5928,3268,...,1574,2405,1216,909,820,693,419,82,31304,관악구
26283,2019-01-02 00:00:00,2호선,227,낙성대,하차,76,347,766,1978,1386,...,1922,4015,4530,2436,2162,2077,1289,474,31085,관악구
26284,2019-01-03 00:00:00,2호선,227,낙성대,승차,436,1075,3772,6275,3510,...,1603,2370,1244,938,817,735,451,78,32232,관악구
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29195,2019-12-29 00:00:00,2호선,230,신림,하차,211,722,602,733,1291,...,3980,4219,3593,3394,3805,3400,2742,43,46450,관악구
29196,2019-12-30 00:00:00,2호선,230,신림,승차,1475,3025,9003,12832,7397,...,3670,3921,2586,2068,2235,1879,1161,289,74348,관악구
29197,2019-12-30 00:00:00,2호선,230,신림,하차,176,713,1398,2636,2027,...,5476,9455,9112,5759,5289,5668,3596,1733,71923,관악구
29198,2019-12-31 00:00:00,2호선,230,신림,승차,1322,2668,8067,12090,6831,...,4169,4366,3230,2887,2612,2355,1275,689,75524,관악구
29199,2019-12-31 00:00:00,2호선,230,신림,하차,170,718,1274,2363,1936,...,6224,9027,7409,4932,4738,4456,3500,2603,70859,관악구

In [ ]:
get_3 = get_3[['날짜', '역번호', '역명', '구분',  '구', '합 계']]
get_3

                         날짜   역번호   역명  구분    구    합 계
0       2019-01-01 00:00:00   150  서울역  승차   중구  39559
1       2019-01-01 00:00:00   150  서울역  하차   중구  31279
2       2019-01-02 00:00:00   150  서울역  승차   중구  58592
3       2019-01-02 00:00:00   150  서울역  하차   중구  52933
4       2019-01-03 00:00:00   150  서울역  승차   중구  57841
...                     ...   ...  ...  ..  ...    ...
194229  2019-12-26 00:00:00  2615  연신내  하차  은평구      0
194230  2019-12-27 00:00:00  2615  연신내  승차  은평구      0
194231  2019-12-27 00:00:00  2615  연신내  하차  은평구      0
194232  2019-12-28 00:00:00  2615  연신내  승차  은평구      0
194233  2019-12-28 00:00:00  2615  연신내  하차  은평구      0

[194234 rows x 6 columns]

In [ ]:
get_3.columns

Index(['날짜', '역번호', '역명', '구분', '구', '합 계'], dtype='object')

In [ ]:
get_3.columns = ['날짜', '역번호', '역명', '구분', '구', '승하차']
get_3

                         날짜   역번호   역명  구분    구    승하차
0       2019-01-01 00:00:00   150  서울역  승차   중구  39559
1       2019-01-01 00:00:00   150  서울역  하차   중구  31279
2       2019-01-02 00:00:00   150  서울역  승차   중구  58592
3       2019-01-02 00:00:00   150  서울역  하차   중구  52933
4       2019-01-03 00:00:00   150  서울역  승차   중구  57841
...                     ...   ...  ...  ..  ...    ...
194229  2019-12-26 00:00:00  2615  연신내  하차  은평구      0
194230  2019-12-27 00:00:00  2615  연신내  승차  은평구      0
194231  2019-12-27 00:00:00  2615  연신내  하차  은평구      0
194232  2019-12-28 00:00:00  2615  연신내  승차  은평구      0
194233  2019-12-28 00:00:00  2615  연신내  하차  은평구      0

[194234 rows x 6 columns]

In [ ]:
get19 = get_3.groupby(['구','날짜']).agg({'승하차':'sum'}).reset_index()
get19

         구         날짜      승하차
0      강남구 2019-01-01   306117
1      강남구 2019-01-02  1095124
2      강남구 2019-01-03  1145218
3      강남구 2019-01-04  1193606
4      강남구 2019-01-05   716921
...    ...        ...      ...
10580  중랑구 2019-12-27   198706
10581  중랑구 2019-12-28   147877
10582  중랑구 2019-12-29   107131
10583  중랑구 2019-12-30   188628
10584  중랑구 2019-12-31   181606

[10585 rows x 3 columns]

In [ ]:
get19['구'].unique()

array(['강남구', '강동구', '강북구', '강서구', '고양시', '관악구', '광명시', '광진구', '구로구',
       '금천구', '노원구', '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성남시',
       '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구', '의정부시', '종로구',
       '중구', '중랑구'], dtype=object)

In [ ]:
get19['구'].value_counts()

강남구     365
서대문구    365
중구      365
종로구     365
의정부시    365
은평구     365
용산구     365
영등포구    365
양천구     365
송파구     365
성북구     365
성동구     365
성남시     365
서초구     365
마포구     365
강동구     365
동작구     365
동대문구    365
도봉구     365
노원구     365
금천구     365
구로구     365
광진구     365
광명시     365
관악구     365
고양시     365
강서구     365
강북구     365
중랑구     365
Name: 구, dtype: int64

## 1차 합산

In [ ]:
# 복지관
bok_f

       구  시설수
0    강남구   17
1    강동구   13
2    강북구    8
3    강서구   17
4    관악구    9
5    광진구    9
6    구로구    8
7    금천구    6
8    노원구   27
9    도봉구    8
10  동대문구    4
11   동작구    9
12   마포구   10
13  서대문구    7
14   서초구   13
15   성동구    4
16   성북구    3
17   송파구   17
18   양천구    7
19  영등포구    7
20   용산구    6
21   은평구   10
22   종로구    4
23    중구    8
24   중랑구    3

In [ ]:
# 인구수
popf

      구     인구수    연도
0   종로구   5,929  2021
1    중구   5,634  2021
2   용산구   7,686  2021
3   성동구  11,284  2021
4   광진구  12,253  2021
..  ...     ...   ...
70  관악구  20,299  2019
71  서초구  10,556  2019
72  강남구  15,439  2019
73  송파구  20,280  2019
74  강동구  17,669  2019

[75 rows x 3 columns]

In [ ]:
popf['구'].describe()

count      75
unique     25
top       종로구
freq        3
Name: 구, dtype: object

In [ ]:
#교통량 
tra_4.head()

          일자    구      교통량
0 2019-01-01  강남구  74968.0
1 2019-01-01  강동구  86442.0
2 2019-01-01  강서구  70420.0
3 2019-01-01  관악구  38121.0
4 2019-01-01  광진구  43813.0

In [ ]:
tra_4.구.value_counts()

강남구     1096
서초구     1096
중랑구     1096
중구      1096
종로구     1096
은평구     1096
용산구     1096
영등포구    1096
양천구     1096
송파구     1096
성북구     1096
성동구     1096
서대문구    1096
강동구     1096
마포구     1096
동작구     1096
동대문구    1096
도봉구     1096
노원구     1096
금천구     1096
구로구     1096
광진구     1096
관악구     1096
강서구     1096
강북구     1096
Name: 구, dtype: int64

In [ ]:
tra_4['구'].describe()

count     27400
unique       25
top         강남구
freq       1096
Name: 구, dtype: object

In [ ]:
get19

         구         날짜      승하차
0      강남구 2019-01-01   306117
1      강남구 2019-01-02  1095124
2      강남구 2019-01-03  1145218
3      강남구 2019-01-04  1193606
4      강남구 2019-01-05   716921
...    ...        ...      ...
10580  중랑구 2019-12-27   198706
10581  중랑구 2019-12-28   147877
10582  중랑구 2019-12-29   107131
10583  중랑구 2019-12-30   188628
10584  중랑구 2019-12-31   181606

[10585 rows x 3 columns]

In [ ]:
get19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10585 entries, 0 to 10584
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구       10585 non-null  object
 1   날짜      10585 non-null  datetime64[ns]
 2   승하차     10585 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 248.2+ KB

In [ ]:
get20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10770 entries, 0 to 10769
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구       10770 non-null  object
 1   날짜      10770 non-null  datetime64[ns]
 2   승하차     10770 non-null  int64
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 252.5+ KB

In [ ]:
import datetime
get20['날짜'] = pd.to_datetime(get20['날짜'])

In [ ]:
import datetime
get21['날짜'] = pd.to_datetime(get21['날짜'])

In [ ]:
get = get19.append(get20).append(get21)

In [ ]:
get

         구         날짜      승하차
0      강남구 2019-01-01   306117
1      강남구 2019-01-02  1095124
2      강남구 2019-01-03  1145218
3      강남구 2019-01-04  1193606
4      강남구 2019-01-05   716921
...    ...        ...      ...
10945  하남시 2021-12-27    57863
10946  하남시 2021-12-28    60733
10947  하남시 2021-12-29    63467
10948  하남시 2021-12-30    61909
10949  하남시 2021-12-31    57240

[32305 rows x 3 columns]

In [ ]:
get['구'].value_counts()

강남구     1096
강동구     1096
중랑구     1096
중구      1096
종로구     1096
의정부시    1096
은평구     1096
용산구     1096
영등포구    1096
양천구     1096
송파구     1096
성북구     1096
성동구     1096
성남시     1096
서초구     1096
서대문구    1096
마포구     1096
동작구     1096
동대문구    1096
도봉구     1096
노원구     1096
금천구     1096
구로구     1096
광진구     1096
광명시     1096
관악구     1096
고양시     1096
강서구     1096
강북구     1096
하남시      521
Name: 구, dtype: int64

In [ ]:
get = get.reset_index(drop=True)

In [ ]:
get.drop(get.loc[get['구']=='고양시'].index, inplace=True)
get.drop(get.loc[get['구']=='광명시'].index, inplace=True)
get.drop(get.loc[get['구']=='성남시'].index, inplace=True)
get.drop(get.loc[get['구']=='의정부시'].index, inplace=True)
get.drop(get.loc[get['구']=='하남시'].index, inplace=True)

In [ ]:
get.reset_index(drop=True,inplace=True)

In [ ]:
get

         구         날짜      승하차
0      강남구 2019-01-01   306117
1      강남구 2019-01-02  1095124
2      강남구 2019-01-03  1145218
3      강남구 2019-01-04  1193606
4      강남구 2019-01-05   716921
...    ...        ...      ...
27395  중랑구 2021-12-27   154534
27396  중랑구 2021-12-28   162021
27397  중랑구 2021-12-29   165447
27398  중랑구 2021-12-30   162317
27399  중랑구 2021-12-31   153590

[27400 rows x 3 columns]

In [ ]:
get['구'].value_counts()

강남구     1096
서대문구    1096
중구      1096
종로구     1096
은평구     1096
용산구     1096
영등포구    1096
양천구     1096
송파구     1096
성북구     1096
성동구     1096
서초구     1096
마포구     1096
강동구     1096
동작구     1096
동대문구    1096
도봉구     1096
노원구     1096
금천구     1096
구로구     1096
광진구     1096
관악구     1096
강서구     1096
강북구     1096
중랑구     1096
Name: 구, dtype: int64

In [ ]:
get.columns = ['구', '일자', '승하차']

In [ ]:
tra_4

              일자    구           교통량
0     2019-01-01  강남구  74968.000000
1     2019-01-01  강동구  86442.000000
2     2019-01-01  강서구  70420.000000
3     2019-01-01  관악구  38121.000000
4     2019-01-01  광진구  43813.000000
...          ...  ...           ...
27395 2021-12-27  강북구  50915.666667
27396 2021-12-28  강북구  51687.000000
27397 2021-12-29  강북구  51301.000000
27398 2021-12-30  강북구  53393.666667
27399 2021-12-31  강북구  53412.666667

[27400 rows x 3 columns]

In [ ]:
f = pd.merge(left = tra_4 , right = get, on = ["구" ,"일자"])

In [ ]:
f.head()

          일자    구      교통량     승하차
0 2019-01-01  강남구  74968.0  306117
1 2019-01-01  강동구  86442.0  124983
2 2019-01-01  강서구  70420.0  120194
3 2019-01-01  관악구  38121.0  175446
4 2019-01-01  광진구  43813.0  244732

In [ ]:
f.isnull().sum()

일자     0
구      0
교통량    0
승하차    0
dtype: int64

In [ ]:
f['연도'] = f['일자'].dt.year

In [ ]:
f

              일자    구           교통량     승하차    연도
0     2019-01-01  강남구  74968.000000  306117  2019
1     2019-01-01  강동구  86442.000000  124983  2019
2     2019-01-01  강서구  70420.000000  120194  2019
3     2019-01-01  관악구  38121.000000  175446  2019
4     2019-01-01  광진구  43813.000000  244732  2019
...          ...  ...           ...     ...   ...
27395 2021-12-27  강북구  50915.666667  138803  2021
27396 2021-12-28  강북구  51687.000000  144843  2021
27397 2021-12-29  강북구  51301.000000  151088  2021
27398 2021-12-30  강북구  53393.666667  147034  2021
27399 2021-12-31  강북구  53412.666667  143903  2021

[27400 rows x 5 columns]

In [ ]:
f['연도']=f['연도'].astype(str)

In [ ]:
popf

      구     인구수    연도
0   종로구   5,929  2021
1    중구   5,634  2021
2   용산구   7,686  2021
3   성동구  11,284  2021
4   광진구  12,253  2021
..  ...     ...   ...
70  관악구  20,299  2019
71  서초구  10,556  2019
72  강남구  15,439  2019
73  송파구  20,280  2019
74  강동구  17,669  2019

[75 rows x 3 columns]

In [ ]:
popf['연도']=popf['연도'].astype(str)

In [ ]:
ff = pd.merge(left = popf , right = f, on = ["구" ,"연도" ])

In [ ]:
ff.head()

     구    인구수    연도         일자      교통량     승하차
0  종로구  5,929  2021 2021-01-01  17079.0  108038
1  종로구  5,929  2021 2021-01-02  21778.0  172156
2  종로구  5,929  2021 2021-01-03  17872.0  133114
3  종로구  5,929  2021 2021-01-04  33908.0  422083
4  종로구  5,929  2021 2021-01-05  34301.0  424084

In [ ]:
f['구'].value_counts()

강남구     1096
서초구     1096
중랑구     1096
중구      1096
종로구     1096
은평구     1096
용산구     1096
영등포구    1096
양천구     1096
송파구     1096
성북구     1096
성동구     1096
서대문구    1096
강동구     1096
마포구     1096
동작구     1096
동대문구    1096
도봉구     1096
노원구     1096
금천구     1096
구로구     1096
광진구     1096
관악구     1096
강서구     1096
강북구     1096
Name: 구, dtype: int64

In [ ]:
fff = pd.merge(left = bok_f , right = ff,  on = "구")

In [ ]:
fff.head()

     구  시설수     인구수    연도         일자      교통량     승하차
0  강남구   17  15,182  2021 2021-01-01  51520.0  131723
1  강남구   17  15,182  2021 2021-01-02  64702.0  258084
2  강남구   17  15,182  2021 2021-01-03  56319.0  164779
3  강남구   17  15,182  2021 2021-01-04  81362.0  738146
4  강남구   17  15,182  2021 2021-01-05  83963.0  741493

In [ ]:
fff.isnull().sum()

구      0
시설수    0
인구수    0
연도     0
일자     0
교통량    0
승하차    0
dtype: int64

In [ ]:
fff['교통량']=fff['교통량'].round(1)

In [ ]:
fff['승하차']=fff['승하차'].round(1)

In [ ]:
ffff=fff[['구','연도','일자','시설수','인구수','교통량','승하차']]

In [ ]:
ffff.head()

     구    연도         일자  시설수     인구수      교통량     승하차
0  강남구  2021 2021-01-01   17  15,182  51520.0  131723
1  강남구  2021 2021-01-02   17  15,182  64702.0  258084
2  강남구  2021 2021-01-03   17  15,182  56319.0  164779
3  강남구  2021 2021-01-04   17  15,182  81362.0  738146
4  강남구  2021 2021-01-05   17  15,182  83963.0  741493

In [ ]:
ffff.구.value_counts()

강남구     1096
서대문구    1096
중구      1096
종로구     1096
은평구     1096
용산구     1096
영등포구    1096
양천구     1096
송파구     1096
성북구     1096
성동구     1096
서초구     1096
마포구     1096
강동구     1096
동작구     1096
동대문구    1096
도봉구     1096
노원구     1096
금천구     1096
구로구     1096
광진구     1096
관악구     1096
강서구     1096
강북구     1096
중랑구     1096
Name: 구, dtype: int64

In [ ]:
ffff

         구    연도         일자  시설수     인구수      교통량     승하차
0      강남구  2021 2021-01-01   17  15,182  51520.0  131723
1      강남구  2021 2021-01-02   17  15,182  64702.0  258084
2      강남구  2021 2021-01-03   17  15,182  56319.0  164779
3      강남구  2021 2021-01-04   17  15,182  81362.0  738146
4      강남구  2021 2021-01-05   17  15,182  83963.0  741493
...    ...   ...        ...  ...     ...      ...     ...
27395  중랑구  2019 2019-12-27    3  20,361  62316.0  198706
27396  중랑구  2019 2019-12-28    3  20,361  59287.0  147877
27397  중랑구  2019 2019-12-29    3  20,361  52471.0  107131
27398  중랑구  2019 2019-12-30    3  20,361  60430.0  188628
27399  중랑구  2019 2019-12-31    3  20,361  60722.0  181606

[27400 rows x 7 columns]

In [ ]:
ffff.to_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/텀프데이터셋.csv',index=False)

## best100 콜택시 데이터

In [ ]:
call=pd.read_csv("/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/콜택시/calltaxi_api1.csv", encoding='cp949')
best=pd.read_csv("/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/콜택시/calltaxi_Best100.csv",encoding='utf-8')

In [ ]:
best.head()

         승차일자    시/도 시/군/구  동/읍/면  승차건수
0  2019-01-01  서울특별시   강서구  등촌제1동   3.0
1  2019-01-01  서울특별시   마포구    상암동   7.0
2  2019-01-01  서울특별시   성북구    종암동   7.0
3  2019-01-01  서울특별시   송파구   문정2동   7.0
4  2019-01-01  서울특별시   은평구    구산동   7.0

In [ ]:
best_seoul = best[best['시/도']=='서울특별시']

In [ ]:
best_seoul

              승차일자    시/도 시/군/구        동/읍/면  승차건수
0       2019-01-01  서울특별시   강서구        등촌제1동   3.0
1       2019-01-01  서울특별시   마포구          상암동   7.0
2       2019-01-01  서울특별시   성북구          종암동   7.0
3       2019-01-01  서울특별시   송파구         문정2동   7.0
4       2019-01-01  서울특별시   은평구          구산동   7.0
...            ...    ...   ...          ...   ...
120095  2022-04-15  서울특별시   마포구        망원제1동  16.0
120096  2022-04-15  서울특별시   마포구        성산제1동  16.0
120097  2022-04-15  서울특별시   서초구         반포4동  16.0
120098  2022-04-15  서울특별시   성북구          안암동  16.0
120099  2022-04-15  서울특별시   종로구  종로1.2.3.4가동  19.0

[118463 rows x 5 columns]

In [ ]:
best_seoul = best_seoul.drop('동/읍/면', axis=1)
best_seoul

              승차일자    시/도 시/군/구  승차건수
0       2019-01-01  서울특별시   강서구   3.0
1       2019-01-01  서울특별시   마포구   7.0
2       2019-01-01  서울특별시   성북구   7.0
3       2019-01-01  서울특별시   송파구   7.0
4       2019-01-01  서울특별시   은평구   7.0
...            ...    ...   ...   ...
120095  2022-04-15  서울특별시   마포구  16.0
120096  2022-04-15  서울특별시   마포구  16.0
120097  2022-04-15  서울특별시   서초구  16.0
120098  2022-04-15  서울특별시   성북구  16.0
120099  2022-04-15  서울특별시   종로구  19.0

[118463 rows x 4 columns]

In [ ]:
best_seoul = best_seoul.reset_index(drop=True)
best_seoul

              승차일자    시/도 시/군/구  승차건수
0       2019-01-01  서울특별시   강서구   3.0
1       2019-01-01  서울특별시   마포구   7.0
2       2019-01-01  서울특별시   성북구   7.0
3       2019-01-01  서울특별시   송파구   7.0
4       2019-01-01  서울특별시   은평구   7.0
...            ...    ...   ...   ...
118458  2022-04-15  서울특별시   마포구  16.0
118459  2022-04-15  서울특별시   마포구  16.0
118460  2022-04-15  서울특별시   서초구  16.0
118461  2022-04-15  서울특별시   성북구  16.0
118462  2022-04-15  서울특별시   종로구  19.0

[118463 rows x 4 columns]

In [ ]:
best_seoul[best_seoul['승차일자']=='2019-01-06']['시/군/구'].nunique()

25

In [ ]:
best_seoul[best_seoul['승차일자']=='2019-01-06']['시/군/구'].unique()

array(['관악구', '구로구', '금천구', '노원구', '성북구', '마포구', '서초구', '동작구', '강서구',
       '동대문구', '강남구', '강동구', '중랑구', '종로구', '성동구', '강북구', '양천구', '송파구',
       '서대문구', '도봉구', '광진구', '중구', '은평구', '영등포구', '용산구'], dtype=object)

In [ ]:
city = ['관악구', '구로구', '금천구', '노원구', '성북구', '마포구', '서초구', '동작구', '강서구',
       '동대문구', '강남구', '강동구', '중랑구', '종로구', '성동구', '강북구', '양천구', '송파구',
       '서대문구', '도봉구', '광진구', '중구', '은평구', '영등포구', '용산구']

In [ ]:
data_2column = pd.DataFrame({'시/도':'서울특별시',
                             '시/군/구':city})
data_2column

      시/도 시/군/구
0   서울특별시   관악구
1   서울특별시   구로구
2   서울특별시   금천구
3   서울특별시   노원구
4   서울특별시   성북구
5   서울특별시   마포구
6   서울특별시   서초구
7   서울특별시   동작구
8   서울특별시   강서구
9   서울특별시  동대문구
10  서울특별시   강남구
11  서울특별시   강동구
12  서울특별시   중랑구
13  서울특별시   종로구
14  서울특별시   성동구
15  서울특별시   강북구
16  서울특별시   양천구
17  서울특별시   송파구
18  서울특별시  서대문구
19  서울특별시   도봉구
20  서울특별시   광진구
21  서울특별시    중구
22  서울특별시   은평구
23  서울특별시  영등포구
24  서울특별시   용산구

In [ ]:
f = pd.merge(left = best_seoul , right = data_2column, how = "outer", on = ["시/도" ,"시/군/구"])
f

              승차일자    시/도 시/군/구  승차건수
0       2019-01-01  서울특별시   강서구   3.0
1       2019-01-01  서울특별시   강서구   9.0
2       2019-01-01  서울특별시   강서구   8.0
3       2019-01-01  서울특별시   강서구   8.0
4       2019-01-01  서울특별시   강서구   5.0
...            ...    ...   ...   ...
118458  2022-04-14  서울특별시   성동구  17.0
118459  2022-04-14  서울특별시   성동구  14.0
118460  2022-04-14  서울특별시   성동구  21.0
118461  2022-04-15  서울특별시   성동구  16.0
118462  2022-04-15  서울특별시   성동구  17.0

[118463 rows x 4 columns]

In [ ]:
best1= best_seoul.groupby(['승차일자','시/군/구']).agg({'승차건수':'sum'}).reset_index()

In [ ]:
best1["승차일자"].value_counts()

2019-10-03    25
2019-11-09    25
2019-11-30    25
2021-02-13    25
2019-11-28    25
              ..
2022-01-05    22
2022-01-03    22
2019-04-01    22
2020-08-23    22
2021-01-03    20
Name: 승차일자, Length: 1201, dtype: int64

In [ ]:
df = pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/텀프데이터셋.csv',encoding='utf-8')

In [ ]:
df

         구    연도          일자  시설수     인구수      교통량     승하차
0      강남구  2021  2021-01-01   17  15,182  51520.0  131723
1      강남구  2021  2021-01-02   17  15,182  64702.0  258084
2      강남구  2021  2021-01-03   17  15,182  56319.0  164779
3      강남구  2021  2021-01-04   17  15,182  81362.0  738146
4      강남구  2021  2021-01-05   17  15,182  83963.0  741493
...    ...   ...         ...  ...     ...      ...     ...
27395  중랑구  2019  2019-12-27    3  20,361  62316.0  198706
27396  중랑구  2019  2019-12-28    3  20,361  59287.0  147877
27397  중랑구  2019  2019-12-29    3  20,361  52471.0  107131
27398  중랑구  2019  2019-12-30    3  20,361  60430.0  188628
27399  중랑구  2019  2019-12-31    3  20,361  60722.0  181606

[27400 rows x 7 columns]

In [ ]:
df

         구    연도          일자  시설수     인구수      교통량     승하차
0      강남구  2021  2021-01-01   17  15,182  51520.0  131723
1      강남구  2021  2021-01-02   17  15,182  64702.0  258084
2      강남구  2021  2021-01-03   17  15,182  56319.0  164779
3      강남구  2021  2021-01-04   17  15,182  81362.0  738146
4      강남구  2021  2021-01-05   17  15,182  83963.0  741493
...    ...   ...         ...  ...     ...      ...     ...
27395  중랑구  2019  2019-12-27    3  20,361  62316.0  198706
27396  중랑구  2019  2019-12-28    3  20,361  59287.0  147877
27397  중랑구  2019  2019-12-29    3  20,361  52471.0  107131
27398  중랑구  2019  2019-12-30    3  20,361  60430.0  188628
27399  중랑구  2019  2019-12-31    3  20,361  60722.0  181606

[27400 rows x 7 columns]

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27400 entries, 0 to 27399
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구       27400 non-null  object
 1   연도      27400 non-null  int64
 2   일자      27400 non-null  object
 3   시설수     27400 non-null  int64
 4   인구수     27400 non-null  object
 5   교통량     27400 non-null  float64
 6   승하차     27400 non-null  int64
dtypes: float64(1), int64(3), object(3)
memory usage: 1.5+ MB

In [ ]:
df

         구    연도          일자  시설수     인구수      교통량     승하차
0      강남구  2021  2021-01-01   17  15,182  51520.0  131723
1      강남구  2021  2021-01-02   17  15,182  64702.0  258084
2      강남구  2021  2021-01-03   17  15,182  56319.0  164779
3      강남구  2021  2021-01-04   17  15,182  81362.0  738146
4      강남구  2021  2021-01-05   17  15,182  83963.0  741493
...    ...   ...         ...  ...     ...      ...     ...
27395  중랑구  2019  2019-12-27    3  20,361  62316.0  198706
27396  중랑구  2019  2019-12-28    3  20,361  59287.0  147877
27397  중랑구  2019  2019-12-29    3  20,361  52471.0  107131
27398  중랑구  2019  2019-12-30    3  20,361  60430.0  188628
27399  중랑구  2019  2019-12-31    3  20,361  60722.0  181606

[27400 rows x 7 columns]

In [ ]:
import datetime

df['일자'] = pd.to_datetime(df['일자'])

In [ ]:
df = df[['일자', '구', '연도',  '시설수', '인구수', '교통량', '승하차']]

In [ ]:
df

              일자    구    연도  시설수     인구수      교통량     승하차
0     2021-01-01  강남구  2021   17  15,182  51520.0  131723
1     2021-01-02  강남구  2021   17  15,182  64702.0  258084
2     2021-01-03  강남구  2021   17  15,182  56319.0  164779
3     2021-01-04  강남구  2021   17  15,182  81362.0  738146
4     2021-01-05  강남구  2021   17  15,182  83963.0  741493
...          ...  ...   ...  ...     ...      ...     ...
27395 2019-12-27  중랑구  2019    3  20,361  62316.0  198706
27396 2019-12-28  중랑구  2019    3  20,361  59287.0  147877
27397 2019-12-29  중랑구  2019    3  20,361  52471.0  107131
27398 2019-12-30  중랑구  2019    3  20,361  60430.0  188628
27399 2019-12-31  중랑구  2019    3  20,361  60722.0  181606

[27400 rows x 7 columns]

In [ ]:
best_seoul

              승차일자    시/도 시/군/구  승차건수
0       2019-01-01  서울특별시   강서구   3.0
1       2019-01-01  서울특별시   마포구   7.0
2       2019-01-01  서울특별시   성북구   7.0
3       2019-01-01  서울특별시   송파구   7.0
4       2019-01-01  서울특별시   은평구   7.0
...            ...    ...   ...   ...
118458  2022-04-15  서울특별시   마포구  16.0
118459  2022-04-15  서울특별시   마포구  16.0
118460  2022-04-15  서울특별시   서초구  16.0
118461  2022-04-15  서울특별시   성북구  16.0
118462  2022-04-15  서울특별시   종로구  19.0

[118463 rows x 4 columns]

In [ ]:
best_seoul['승차일자'] = pd.to_datetime(best_seoul['승차일자'])

In [ ]:
df.columns = ['승차일자', '시/군/구', '연도','시설수','인구수','교통량','승하차']

In [ ]:
df

            승차일자 시/군/구    연도  시설수     인구수      교통량     승하차
0     2021-01-01   강남구  2021   17  15,182  51520.0  131723
1     2021-01-02   강남구  2021   17  15,182  64702.0  258084
2     2021-01-03   강남구  2021   17  15,182  56319.0  164779
3     2021-01-04   강남구  2021   17  15,182  81362.0  738146
4     2021-01-05   강남구  2021   17  15,182  83963.0  741493
...          ...   ...   ...  ...     ...      ...     ...
27395 2019-12-27   중랑구  2019    3  20,361  62316.0  198706
27396 2019-12-28   중랑구  2019    3  20,361  59287.0  147877
27397 2019-12-29   중랑구  2019    3  20,361  52471.0  107131
27398 2019-12-30   중랑구  2019    3  20,361  60430.0  188628
27399 2019-12-31   중랑구  2019    3  20,361  60722.0  181606

[27400 rows x 7 columns]

In [ ]:
df_final = pd.merge(left = df, right = best_seoul, how = "left", on = ["승차일자" ,"시/군/구"])
df_final

             승차일자 시/군/구    연도  시설수     인구수      교통량     승하차    시/도  승차건수
0      2021-01-01   강남구  2021   17  15,182  51520.0  131723  서울특별시   4.0
1      2021-01-01   강남구  2021   17  15,182  51520.0  131723  서울특별시   6.0
2      2021-01-02   강남구  2021   17  15,182  64702.0  258084  서울특별시   7.0
3      2021-01-02   강남구  2021   17  15,182  64702.0  258084  서울특별시   9.0
4      2021-01-02   강남구  2021   17  15,182  64702.0  258084  서울특별시   8.0
...           ...   ...   ...  ...     ...      ...     ...    ...   ...
109362 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  서울특별시  17.0
109363 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  서울특별시  35.0
109364 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  서울특별시  10.0
109365 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  서울특별시  10.0
109366 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  서울특별시  13.0

[109367 rows x 9 columns]

In [ ]:
df_final.isnull().sum()

승차일자        0
시/군/구       0
연도          0
시설수         0
인구수         0
교통량         0
승하차         0
시/도      1250
승차건수     1250
dtype: int64

In [ ]:
df_final = df_final.drop('시/도', axis=1)
df_final

             승차일자 시/군/구    연도  시설수     인구수      교통량     승하차  승차건수
0      2021-01-01   강남구  2021   17  15,182  51520.0  131723   4.0
1      2021-01-01   강남구  2021   17  15,182  51520.0  131723   6.0
2      2021-01-02   강남구  2021   17  15,182  64702.0  258084   7.0
3      2021-01-02   강남구  2021   17  15,182  64702.0  258084   9.0
4      2021-01-02   강남구  2021   17  15,182  64702.0  258084   8.0
...           ...   ...   ...  ...     ...      ...     ...   ...
109362 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  17.0
109363 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  35.0
109364 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  10.0
109365 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  10.0
109366 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  13.0

[109367 rows x 8 columns]

In [ ]:
df_final = df_final.fillna(' ')

In [ ]:
df_final[df_final['승차건수'] == ' ']

             승차일자 시/군/구    연도  시설수     인구수      교통량      승하차 승차건수
6464   2021-02-21   강동구  2021   13  18,614  86843.0   131310
15010  2020-03-01   강북구  2020    8  17,441  39170.0    56454
28645  2021-07-26   관악구  2021    9  20,211  41454.0   272194
29803  2020-08-23   관악구  2020    9  20,265  34202.0   125833
30423  2019-04-06   관악구  2019    9  20,299  51268.0   319051
...           ...   ...   ...  ...     ...      ...      ...  ...
104272 2019-12-13    중구  2019    8   5,712  39152.0  1042091
104277 2019-12-16    중구  2019    8   5,712  38081.0   951950
104281 2019-12-20    중구  2019    8   5,712  39675.0  1070678
104290 2019-12-26    중구  2019    8   5,712  37923.0   987911
108923 2019-09-15   중랑구  2019    3  20,361  46476.0   101298

[1250 rows x 8 columns]

In [ ]:
df_final = df_final.replace(' ', 0)
df_final

             승차일자 시/군/구    연도  시설수     인구수      교통량     승하차  승차건수
0      2021-01-01   강남구  2021   17  15,182  51520.0  131723   4.0
1      2021-01-01   강남구  2021   17  15,182  51520.0  131723   6.0
2      2021-01-02   강남구  2021   17  15,182  64702.0  258084   7.0
3      2021-01-02   강남구  2021   17  15,182  64702.0  258084   9.0
4      2021-01-02   강남구  2021   17  15,182  64702.0  258084   8.0
...           ...   ...   ...  ...     ...      ...     ...   ...
109362 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  17.0
109363 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  35.0
109364 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  10.0
109365 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  10.0
109366 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  13.0

[109367 rows x 8 columns]

In [ ]:
df_final = df_final.reset_index(drop=True)
df_final

             승차일자 시/군/구    연도  시설수     인구수      교통량     승하차  승차건수
0      2021-01-01   강남구  2021   17  15,182  51520.0  131723   4.0
1      2021-01-01   강남구  2021   17  15,182  51520.0  131723   6.0
2      2021-01-02   강남구  2021   17  15,182  64702.0  258084   7.0
3      2021-01-02   강남구  2021   17  15,182  64702.0  258084   9.0
4      2021-01-02   강남구  2021   17  15,182  64702.0  258084   8.0
...           ...   ...   ...  ...     ...      ...     ...   ...
109362 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  17.0
109363 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  35.0
109364 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  10.0
109365 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  10.0
109366 2019-12-31   중랑구  2019    3  20,361  60722.0  181606  13.0

[109367 rows x 8 columns]

In [ ]:
df_final['승차일자'].nunique()

1096

In [ ]:
365*3

1095

In [ ]:
1096*25

27400

In [ ]:
df_final.columns

Index(['승차일자', '시/군/구', '연도', '시설수', '인구수', '교통량', '승하차', '승차건수'], dtype='object')

In [ ]:
df_final = df_final.groupby(['승차일자', '시/군/구', '연도',  '시설수', '인구수', '교통량', '승하차']).agg({'승차건수':'sum'}).reset_index()

In [ ]:
df_final

            승차일자 시/군/구    연도  시설수     인구수       교통량     승하차   승차건수
0     2019-01-01   강남구  2019   17  15,439   74968.0  306117   37.0
1     2019-01-01   강동구  2019   13  17,669   86442.0  124983   31.0
2     2019-01-01   강북구  2019    8  17,517   46124.0   80664   38.0
3     2019-01-01   강서구  2019   17  28,854   70420.0  120194   45.0
4     2019-01-01   관악구  2019    9  20,299   38121.0  175446   12.0
...          ...   ...   ...  ...     ...       ...     ...    ...
27395 2021-12-31   용산구  2021    6   7,686  105349.0  173004    0.0
27396 2021-12-31   은평구  2021   10  21,756   34332.0  287807  140.0
27397 2021-12-31   종로구  2021    4   5,929   35276.0  476196   56.0
27398 2021-12-31    중구  2021    8   5,634   29271.0  623220   16.0
27399 2021-12-31   중랑구  2021    3  20,357   55106.0  153590  110.0

[27400 rows x 8 columns]

In [ ]:
df_final.columns

Index(['승차일자', '시/군/구', '연도', '시설수', '인구수', '교통량', '승하차', '승차건수'], dtype='object')

In [ ]:
df_final.columns = ['일자', '시/군/구', '연도', '시설수', '인구수', '교통량', '승하차', '승차건수']

## call 데이터

In [ ]:
call = pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/콜택시/calltaxi_api1.csv', encoding='cp949')

In [ ]:
call

             기준일  차량운행   접수건   탑승건  평균대기시간  평균요금  평균승차거리
0     2018-07-14   266  2246  1684    66.1  2551   11279
1     2018-07-15   220  1984  1731    47.1  2443   10365
2     2018-07-16   496  5060  4043    67.7  2234    8489
3     2018-07-17   524  5605  4187    62.5  2239    8514
4     2018-07-18   499  5062  4099    60.7  2259    8694
...          ...   ...   ...   ...     ...   ...     ...
1388  2022-05-02   588  5542  4727    42.7  2237    8518
1389  2022-05-03   557  5550  4643    49.4  2253    8726
1390  2022-05-04   563  5608  4576    49.9  2239    8548
1391  2022-05-05   259  2035  1700    29.6  2412   10559
1392  2022-05-06   544  5123  4236    39.2  2247    8638

[1393 rows x 7 columns]

In [ ]:
call.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393 entries, 0 to 1392
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   기준일     1393 non-null   object
 1   차량운행    1393 non-null   int64
 2   접수건     1393 non-null   int64
 3   탑승건     1393 non-null   int64
 4   평균대기시간  1393 non-null   float64
 5   평균요금    1393 non-null   int64
 6   평균승차거리  1393 non-null   int64
dtypes: float64(1), int64(5), object(1)
memory usage: 76.3+ KB

In [ ]:
import datetime
call['기준일'] = pd.to_datetime(call['기준일'], format="%Y-%m-%d")

In [ ]:
call.head()

         기준일  차량운행   접수건   탑승건  평균대기시간  평균요금  평균승차거리
0 2018-07-14   266  2246  1684    66.1  2551   11279
1 2018-07-15   220  1984  1731    47.1  2443   10365
2 2018-07-16   496  5060  4043    67.7  2234    8489
3 2018-07-17   524  5605  4187    62.5  2239    8514
4 2018-07-18   499  5062  4099    60.7  2259    8694

In [ ]:
call.columns

Index(['기준일', '차량운행', '접수건', '탑승건', '평균대기시간', '평균요금', '평균승차거리'], dtype='object')

In [ ]:
call.columns = ['일자', '차량운행', '접수건', '탑승건', '평균대기시간', '평균요금', '평균승차거리']

In [ ]:
call

             일자  차량운행   접수건   탑승건  평균대기시간  평균요금  평균승차거리
0    2018-07-14   266  2246  1684    66.1  2551   11279
1    2018-07-15   220  1984  1731    47.1  2443   10365
2    2018-07-16   496  5060  4043    67.7  2234    8489
3    2018-07-17   524  5605  4187    62.5  2239    8514
4    2018-07-18   499  5062  4099    60.7  2259    8694
...         ...   ...   ...   ...     ...   ...     ...
1388 2022-05-02   588  5542  4727    42.7  2237    8518
1389 2022-05-03   557  5550  4643    49.4  2253    8726
1390 2022-05-04   563  5608  4576    49.9  2239    8548
1391 2022-05-05   259  2035  1700    29.6  2412   10559
1392 2022-05-06   544  5123  4236    39.2  2247    8638

[1393 rows x 7 columns]

## 2차 합산

In [ ]:
call

             일자  차량운행   접수건   탑승건  평균대기시간  평균요금  평균승차거리
0    2018-07-14   266  2246  1684    66.1  2551   11279
1    2018-07-15   220  1984  1731    47.1  2443   10365
2    2018-07-16   496  5060  4043    67.7  2234    8489
3    2018-07-17   524  5605  4187    62.5  2239    8514
4    2018-07-18   499  5062  4099    60.7  2259    8694
...         ...   ...   ...   ...     ...   ...     ...
1388 2022-05-02   588  5542  4727    42.7  2237    8518
1389 2022-05-03   557  5550  4643    49.4  2253    8726
1390 2022-05-04   563  5608  4576    49.9  2239    8548
1391 2022-05-05   259  2035  1700    29.6  2412   10559
1392 2022-05-06   544  5123  4236    39.2  2247    8638

[1393 rows x 7 columns]

In [ ]:
df_final

              일자 시/군/구    연도  시설수     인구수       교통량     승하차   승차건수
0     2019-01-01   강남구  2019   17  15,439   74968.0  306117   37.0
1     2019-01-01   강동구  2019   13  17,669   86442.0  124983   31.0
2     2019-01-01   강북구  2019    8  17,517   46124.0   80664   38.0
3     2019-01-01   강서구  2019   17  28,854   70420.0  120194   45.0
4     2019-01-01   관악구  2019    9  20,299   38121.0  175446   12.0
...          ...   ...   ...  ...     ...       ...     ...    ...
27395 2021-12-31   용산구  2021    6   7,686  105349.0  173004    0.0
27396 2021-12-31   은평구  2021   10  21,756   34332.0  287807  140.0
27397 2021-12-31   종로구  2021    4   5,929   35276.0  476196   56.0
27398 2021-12-31    중구  2021    8   5,634   29271.0  623220   16.0
27399 2021-12-31   중랑구  2021    3  20,357   55106.0  153590  110.0

[27400 rows x 8 columns]

In [ ]:
f = pd.merge(left = df_final , right = call, how = "left", on = "일자")

In [ ]:
f

,일자,시/군/구,연도,시설수,인구수,교통량,승하차,승차건수,차량운행,접수건,탑승건,평균대기시간,평균요금,평균승차거리
0,2019-01-01,강남구,2019,17,"15,439",74968.0,306117,37.0,201,1406,1046,32.8,2416,10404
1,2019-01-01,강동구,2019,13,"17,669",86442.0,124983,31.0,201,1406,1046,32.8,2416,10404
2,2019-01-01,강북구,2019,8,"17,517",46124.0,80664,38.0,201,1406,1046,32.8,2416,10404
3,2019-01-01,강서구,2019,17,"28,854",70420.0,120194,45.0,201,1406,1046,32.8,2416,10404
4,2019-01-01,관악구,2019,9,"20,299",38121.0,175446,12.0,201,1406,1046,32.8,2416,10404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27395,2021-12-31,용산구,2021,6,"7,686",105349.0,173004,0.0,465,4047,3245,39.1,2221,8415
27396,2021-12-31,은평구,2021,10,"21,756",34332.0,287807,140.0,465,4047,3245,39.1,2221,8415
27397,2021-12-31,종로구,2021,4,"5,929",35276.0,476196,56.0,465,4047,3245,39.1,2221,8415
27398,2021-12-31,중구,2021,8,"5,634",29271.0,623220,16.0,465,4047,3245,39.1,2221,8415
27399,2021-12-31,중랑구,2021,3,"20,357",55106.0,153590,110.0,465,4047,3245,39.1,2221,8415

In [ ]:
f.isnull().sum()

일자        0
시/군/구     0
연도        0
시설수       0
인구수       0
교통량       0
승하차       0
승차건수      0
차량운행      0
접수건       0
탑승건       0
평균대기시간    0
평균요금      0
평균승차거리    0
dtype: int64

In [ ]:
f.head()

,일자,시/군/구,연도,시설수,인구수,교통량,승하차,승차건수,차량운행,접수건,탑승건,평균대기시간,평균요금,평균승차거리
0,2019-01-01,강남구,2019,17,"15,439",74968.0,306117,37.0,201,1406,1046,32.8,2416,10404
1,2019-01-01,강동구,2019,13,"17,669",86442.0,124983,31.0,201,1406,1046,32.8,2416,10404
2,2019-01-01,강북구,2019,8,"17,517",46124.0,80664,38.0,201,1406,1046,32.8,2416,10404
3,2019-01-01,강서구,2019,17,"28,854",70420.0,120194,45.0,201,1406,1046,32.8,2416,10404
4,2019-01-01,관악구,2019,9,"20,299",38121.0,175446,12.0,201,1406,1046,32.8,2416,10404

In [ ]:
df = f.copy()

## holiday 컬럼 추가

In [ ]:
df

,일자,시/군/구,연도,시설수,인구수,교통량,승하차,승차건수,차량운행,접수건,탑승건,평균대기시간,평균요금,평균승차거리
0,2019-01-01,강남구,2019,17,"15,439",74968.0,306117,37.0,201,1406,1046,32.8,2416,10404
1,2019-01-01,강동구,2019,13,"17,669",86442.0,124983,31.0,201,1406,1046,32.8,2416,10404
2,2019-01-01,강북구,2019,8,"17,517",46124.0,80664,38.0,201,1406,1046,32.8,2416,10404
3,2019-01-01,강서구,2019,17,"28,854",70420.0,120194,45.0,201,1406,1046,32.8,2416,10404
4,2019-01-01,관악구,2019,9,"20,299",38121.0,175446,12.0,201,1406,1046,32.8,2416,10404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27395,2021-12-31,용산구,2021,6,"7,686",105349.0,173004,0.0,465,4047,3245,39.1,2221,8415
27396,2021-12-31,은평구,2021,10,"21,756",34332.0,287807,140.0,465,4047,3245,39.1,2221,8415
27397,2021-12-31,종로구,2021,4,"5,929",35276.0,476196,56.0,465,4047,3245,39.1,2221,8415
27398,2021-12-31,중구,2021,8,"5,634",29271.0,623220,16.0,465,4047,3245,39.1,2221,8415
27399,2021-12-31,중랑구,2021,3,"20,357",55106.0,153590,110.0,465,4047,3245,39.1,2221,8415

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27400 entries, 0 to 27399
Data columns (total 14 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      27400 non-null  datetime64[ns]
 1   시/군/구   27400 non-null  object
 2   연도      27400 non-null  int64
 3   시설수     27400 non-null  int64
 4   인구수     27400 non-null  object
 5   교통량     27400 non-null  float64
 6   승하차     27400 non-null  int64
 7   승차건수    27400 non-null  float64
 8   차량운행    27400 non-null  int64
 9   접수건     27400 non-null  int64
 10  탑승건     27400 non-null  int64
 11  평균대기시간  27400 non-null  float64
 12  평균요금    27400 non-null  int64
 13  평균승차거리  27400 non-null  int64
dtypes: datetime64[ns](1), float64(3), int64(8), object(2)
memory usage: 3.1+ MB

In [ ]:
import datetime
df['일자'] = pd.to_datetime(df['일자'])

In [ ]:
df

,일자,시/군/구,연도,시설수,인구수,교통량,승하차,승차건수,차량운행,접수건,탑승건,평균대기시간,평균요금,평균승차거리
0,2019-01-01,강남구,2019,17,"15,439",74968.0,306117,37.0,201,1406,1046,32.8,2416,10404
1,2019-01-01,강동구,2019,13,"17,669",86442.0,124983,31.0,201,1406,1046,32.8,2416,10404
2,2019-01-01,강북구,2019,8,"17,517",46124.0,80664,38.0,201,1406,1046,32.8,2416,10404
3,2019-01-01,강서구,2019,17,"28,854",70420.0,120194,45.0,201,1406,1046,32.8,2416,10404
4,2019-01-01,관악구,2019,9,"20,299",38121.0,175446,12.0,201,1406,1046,32.8,2416,10404
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27395,2021-12-31,용산구,2021,6,"7,686",105349.0,173004,0.0,465,4047,3245,39.1,2221,8415
27396,2021-12-31,은평구,2021,10,"21,756",34332.0,287807,140.0,465,4047,3245,39.1,2221,8415
27397,2021-12-31,종로구,2021,4,"5,929",35276.0,476196,56.0,465,4047,3245,39.1,2221,8415
27398,2021-12-31,중구,2021,8,"5,634",29271.0,623220,16.0,465,4047,3245,39.1,2221,8415
27399,2021-12-31,중랑구,2021,3,"20,357",55106.0,153590,110.0,465,4047,3245,39.1,2221,8415

In [ ]:
from datetime import date

def is_weekend(d):
    return d.weekday() > 4

print(is_weekend(date(2022, 5, 13))) #금
print(is_weekend(date(2022, 5, 14))) #토

False
True

In [ ]:
df['휴일여부'] = ''

for i in range(len(df)):
  df['휴일여부'][i] = is_weekend(df['일자'][i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
df

,일자,시/군/구,연도,시설수,인구수,교통량,승하차,승차건수,차량운행,접수건,탑승건,평균대기시간,평균요금,평균승차거리,휴일여부
0,2019-01-01,강남구,2019,17,"15,439",74968.0,306117,37.0,201,1406,1046,32.8,2416,10404,False
1,2019-01-01,강동구,2019,13,"17,669",86442.0,124983,31.0,201,1406,1046,32.8,2416,10404,False
2,2019-01-01,강북구,2019,8,"17,517",46124.0,80664,38.0,201,1406,1046,32.8,2416,10404,False
3,2019-01-01,강서구,2019,17,"28,854",70420.0,120194,45.0,201,1406,1046,32.8,2416,10404,False
4,2019-01-01,관악구,2019,9,"20,299",38121.0,175446,12.0,201,1406,1046,32.8,2416,10404,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27395,2021-12-31,용산구,2021,6,"7,686",105349.0,173004,0.0,465,4047,3245,39.1,2221,8415,False
27396,2021-12-31,은평구,2021,10,"21,756",34332.0,287807,140.0,465,4047,3245,39.1,2221,8415,False
27397,2021-12-31,종로구,2021,4,"5,929",35276.0,476196,56.0,465,4047,3245,39.1,2221,8415,False
27398,2021-12-31,중구,2021,8,"5,634",29271.0,623220,16.0,465,4047,3245,39.1,2221,8415,False
27399,2021-12-31,중랑구,2021,3,"20,357",55106.0,153590,110.0,465,4047,3245,39.1,2221,8415,False

In [ ]:
df = df.replace(True, 1)
df = df.replace(False, 0)

In [ ]:
df

,일자,시/군/구,연도,시설수,인구수,교통량,승하차,승차건수,차량운행,접수건,탑승건,평균대기시간,평균요금,평균승차거리,휴일여부
0,2019-01-01,강남구,2019,17,"15,439",74968.0,306117,37.0,201,1406,1046,32.8,2416,10404,0
1,2019-01-01,강동구,2019,13,"17,669",86442.0,124983,31.0,201,1406,1046,32.8,2416,10404,0
2,2019-01-01,강북구,2019,8,"17,517",46124.0,80664,38.0,201,1406,1046,32.8,2416,10404,0
3,2019-01-01,강서구,2019,17,"28,854",70420.0,120194,45.0,201,1406,1046,32.8,2416,10404,0
4,2019-01-01,관악구,2019,9,"20,299",38121.0,175446,12.0,201,1406,1046,32.8,2416,10404,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27395,2021-12-31,용산구,2021,6,"7,686",105349.0,173004,0.0,465,4047,3245,39.1,2221,8415,0
27396,2021-12-31,은평구,2021,10,"21,756",34332.0,287807,140.0,465,4047,3245,39.1,2221,8415,0
27397,2021-12-31,종로구,2021,4,"5,929",35276.0,476196,56.0,465,4047,3245,39.1,2221,8415,0
27398,2021-12-31,중구,2021,8,"5,634",29271.0,623220,16.0,465,4047,3245,39.1,2221,8415,0
27399,2021-12-31,중랑구,2021,3,"20,357",55106.0,153590,110.0,465,4047,3245,39.1,2221,8415,0

In [ ]:
df['휴일여부'].value_counts()

0    19600
1     7800
Name: 휴일여부, dtype: int64

In [ ]:
df

,일자,시/군/구,연도,시설수,인구수,교통량,승하차,승차건수,차량운행,접수건,탑승건,평균대기시간,평균요금,평균승차거리,휴일여부
0,2019-01-01,강남구,2019,17,"15,439",74968.0,306117,37.0,201,1406,1046,32.8,2416,10404,0
1,2019-01-01,강동구,2019,13,"17,669",86442.0,124983,31.0,201,1406,1046,32.8,2416,10404,0
2,2019-01-01,강북구,2019,8,"17,517",46124.0,80664,38.0,201,1406,1046,32.8,2416,10404,0
3,2019-01-01,강서구,2019,17,"28,854",70420.0,120194,45.0,201,1406,1046,32.8,2416,10404,0
4,2019-01-01,관악구,2019,9,"20,299",38121.0,175446,12.0,201,1406,1046,32.8,2416,10404,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27395,2021-12-31,용산구,2021,6,"7,686",105349.0,173004,0.0,465,4047,3245,39.1,2221,8415,0
27396,2021-12-31,은평구,2021,10,"21,756",34332.0,287807,140.0,465,4047,3245,39.1,2221,8415,0
27397,2021-12-31,종로구,2021,4,"5,929",35276.0,476196,56.0,465,4047,3245,39.1,2221,8415,0
27398,2021-12-31,중구,2021,8,"5,634",29271.0,623220,16.0,465,4047,3245,39.1,2221,8415,0
27399,2021-12-31,중랑구,2021,3,"20,357",55106.0,153590,110.0,465,4047,3245,39.1,2221,8415,0

In [ ]:
df.isnull().sum()

일자        0
시/군/구     0
연도        0
시설수       0
인구수       0
교통량       0
승하차       0
승차건수      0
차량운행      0
접수건       0
탑승건       0
평균대기시간    0
평균요금      0
평균승차거리    0
휴일여부      0
dtype: int64

In [ ]:
df.to_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/텀프데이터셋최종.csv',encoding='utf-8-sig', index=False)

# 2022 1월~2월 데이터 전처리

In [ ]:
#복지관
bok_f.head()

     구  시설수
0  강남구   17
1  강동구   13
2  강북구    8
3  강서구   17
4  관악구    9

## 인구수 2022로 변환

In [ ]:
pop21_f.head()

      구     인구수    연도
3   종로구   5,929  2021
21   중구   5,634  2021
37  용산구   7,686  2021
54  성동구  11,284  2021
72  광진구  12,253  2021

In [ ]:
pop22 = pop21_f.copy()

In [ ]:
pop22['연도']=2022

In [ ]:
pop22.head()

      구     인구수    연도
3   종로구   5,929  2022
21   중구   5,634  2022
37  용산구   7,686  2022
54  성동구  11,284  2022
72  광진구  12,253  2022

In [ ]:
pop22.reset_index(drop=True, inplace=True)

## 교통량 2022

In [ ]:
tra2022_1=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2022csv/01월 서울시 교통량 조사자료(2022).csv', encoding='cp949')
tra2022_2=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2022csv/02월 서울시 교통량 조사자료(2022).csv', encoding='cp949')
tra2022_3=pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2022csv/03월 서울시 교통량 조사자료(2022).csv', encoding='cp949')

In [ ]:
tra2022 = tra2022_1.append(tra2022_2).append(tra2022_3)

In [ ]:
tra2022.reset_index(inplace=True,drop=True)

In [ ]:
tra2022.shape

(25020, 30)

In [ ]:
tra2022.head()

,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,14시,15시,16시,17시,18시,19시,20시,21시,22시,23시
0,20220101,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20220102,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20220103,월,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20220104,화,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20220105,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
tra2022['교통량']=tra2022.iloc[:,7:31].sum(axis=1)

In [ ]:
tra2022.head()

,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,15시,16시,17시,18시,19시,20시,21시,22시,23시,교통량
0,20220101,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
1,20220102,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,20220103,월,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,20220104,화,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,20220105,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0

In [ ]:
# 결측치
tra2022['0시'] = tra2022['0시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['1시'] = tra2022['1시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['2시'] = tra2022['2시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['3시'] = tra2022['3시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['4시'] = tra2022['4시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['5시'] = tra2022['5시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['6시'] = tra2022['6시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['7시'] = tra2022['7시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['8시'] = tra2022['8시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['9시'] = tra2022['9시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))

In [ ]:
tra2022['10시'] = tra2022['10시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['11시'] = tra2022['11시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['12시'] = tra2022['12시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['13시'] = tra2022['13시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['14시'] = tra2022['14시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['15시'] = tra2022['15시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['16시'] = tra2022['16시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['17시'] = tra2022['17시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['18시'] = tra2022['18시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['19시'] = tra2022['19시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))

In [ ]:
tra2022['20시'] = tra2022['20시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['21시'] = tra2022['21시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['22시'] = tra2022['22시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))
tra2022['23시'] = tra2022['23시'].fillna(tra2022.groupby(['일자','지점명'])['교통량'].transform('mean'))

In [ ]:
tra2022.isnull().sum()

일자      0
요일      0
지점명     0
지점번호    0
방향      0
구분      0
0시      0
1시      0
2시      0
3시      0
4시      0
5시      0
6시      0
7시      0
8시      0
9시      0
10시     0
11시     0
12시     0
13시     0
14시     0
15시     0
16시     0
17시     0
18시     0
19시     0
20시     0
21시     0
22시     0
23시     0
교통량     0
dtype: int64

In [ ]:
sp = pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/교통량/2022csv/교통량수집지점(2022).csv', encoding='cp949')

In [ ]:
sp.head()

,지점번호,지점명칭,검지기 유형,위도,경도,주소,도로명 주소,유입 방향,유출방향
0,A-01,성산로(금화터널),지자기,37.568588,126.948436,서울시 서대문구 신촌동 1-142,NaN,[성산로]봉원고가차도->독립문역,[성산로]독립문역->봉원고가차도
1,A-02,사직로(사직터널),지자기,37.572298,126.962853,서울시 종로구 행촌동 1-186,NaN,[사직로]독립문역->사직단,[사직로]사직단->독립문역
2,A-03,자하문로(자하문터널),지자기,37.588831,126.968548,서울시 종로구 청운동 24-6,NaN,[자하문로]석파정->청운초등학교,[자하문로]청운초등학교->석파정
3,A-04,대사관로(삼청터널),지자기,37.596359,126.984209,서울시 성북구 성북동 산25-148,NaN,[삼청로]삼청각->삼청공원입구,[삼청로]삼청공원입구->삼청각
4,A-05,율곡로(안국역),지자기,37.576000,126.984342,서울시 종로구 경운동 90-4,서울시 종로구 율곡로 46,[율곡로]안국역->안국동사거리,[율곡로]안국동사거리->안국역

In [ ]:
sp['구']=sp['주소'].str.split(" ").str[1]

In [ ]:
sp.head()

,지점번호,지점명칭,검지기 유형,위도,경도,주소,도로명 주소,유입 방향,유출방향,구
0,A-01,성산로(금화터널),지자기,37.568588,126.948436,서울시 서대문구 신촌동 1-142,NaN,[성산로]봉원고가차도->독립문역,[성산로]독립문역->봉원고가차도,서대문구
1,A-02,사직로(사직터널),지자기,37.572298,126.962853,서울시 종로구 행촌동 1-186,NaN,[사직로]독립문역->사직단,[사직로]사직단->독립문역,종로구
2,A-03,자하문로(자하문터널),지자기,37.588831,126.968548,서울시 종로구 청운동 24-6,NaN,[자하문로]석파정->청운초등학교,[자하문로]청운초등학교->석파정,종로구
3,A-04,대사관로(삼청터널),지자기,37.596359,126.984209,서울시 성북구 성북동 산25-148,NaN,[삼청로]삼청각->삼청공원입구,[삼청로]삼청공원입구->삼청각,성북구
4,A-05,율곡로(안국역),지자기,37.576000,126.984342,서울시 종로구 경운동 90-4,서울시 종로구 율곡로 46,[율곡로]안국역->안국동사거리,[율곡로]안국동사거리->안국역,종로구

In [ ]:
sp['구'].unique()

array(['서대문구', '종로구', '성북구', '중구', '용산구', '도봉구', '노원구', '광진구', '구리시',
       '중랑구', '하남시', '강동구', '서초구', '송파구', '강남구', '과천시', '금천구', '구로구',
       '광명시', '강서구', '양천구', '부천시', '김포시', '고양시', '은평구', '마포구', '영등포구',
       '성동구', '동작구', '관악구', '동대문구', nan], dtype=object)

In [ ]:
sp.rename(columns={'지점명칭':'지점명'},inplace=True)

In [ ]:
sp.head()

,지점번호,지점명,검지기 유형,위도,경도,주소,도로명 주소,유입 방향,유출방향,구
0,A-01,성산로(금화터널),지자기,37.568588,126.948436,서울시 서대문구 신촌동 1-142,NaN,[성산로]봉원고가차도->독립문역,[성산로]독립문역->봉원고가차도,서대문구
1,A-02,사직로(사직터널),지자기,37.572298,126.962853,서울시 종로구 행촌동 1-186,NaN,[사직로]독립문역->사직단,[사직로]사직단->독립문역,종로구
2,A-03,자하문로(자하문터널),지자기,37.588831,126.968548,서울시 종로구 청운동 24-6,NaN,[자하문로]석파정->청운초등학교,[자하문로]청운초등학교->석파정,종로구
3,A-04,대사관로(삼청터널),지자기,37.596359,126.984209,서울시 성북구 성북동 산25-148,NaN,[삼청로]삼청각->삼청공원입구,[삼청로]삼청공원입구->삼청각,성북구
4,A-05,율곡로(안국역),지자기,37.576000,126.984342,서울시 종로구 경운동 90-4,서울시 종로구 율곡로 46,[율곡로]안국역->안국동사거리,[율곡로]안국동사거리->안국역,종로구

In [ ]:
sp_1 = sp[['지점명','구']]

In [ ]:
sp_1.head()

           지점명     구
0    성산로(금화터널)  서대문구
1    사직로(사직터널)   종로구
2  자하문로(자하문터널)   종로구
3   대사관로(삼청터널)   성북구
4     율곡로(안국역)   종로구

In [ ]:
t22 = pd.merge(tra2022,sp_1, on='지점명')

In [ ]:
t22.head()

,일자,요일,지점명,지점번호,방향,구분,0시,1시,2시,3시,...,16시,17시,18시,19시,20시,21시,22시,23시,교통량,구
0,20220101,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,서대문구
1,20220102,일,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,서대문구
2,20220103,월,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,서대문구
3,20220104,화,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,서대문구
4,20220105,수,성산로(금화터널),A-01,유입,봉원고가차도->독립문역,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,서대문구

In [ ]:
t222 = t22.groupby(['일자','구','지점명']).agg({'교통량':'sum'}).reset_index()

In [ ]:
# 유입 유출 방향 합치기
t222.head()

         일자    구            지점명       교통량
0  20220101  강남구  강남대로(강남역-신분당)   30895.0
1  20220101  강남구      강남대로(신사역)   42538.0
2  20220101  강남구    남부순환로(수서IC)   62236.0
3  20220101  강남구   밤고개로(세곡동사거리)   18731.0
4  20220101  강남구          분당수서로  105634.0

In [ ]:
# 구별 하루 최대 교통량 지점
tt = t222.groupby(['일자','구']).agg({'교통량':'max'}).reset_index()

In [ ]:
tt.head()

         일자    구       교통량
0  20220101  강남구  123400.0
1  20220101  강동구   82512.0
2  20220101  강서구  136910.0
3  20220101  고양시       0.0
4  20220101  과천시   49502.0

강북구를 위한 데이터셋 제작

In [ ]:
condition = (tt.구 == '도봉구') | (tt.구 =='노원구')|(tt.구=='성북구')
ttt = tt[condition]

In [ ]:
ttt.head()

          일자    구       교통량
12  20220101  노원구  107742.0
13  20220101  도봉구   33766.0
21  20220101  성북구  120670.0
43  20220102  노원구  107062.0
44  20220102  도봉구   33449.0

In [ ]:
book1 = ttt.groupby(['일자']).agg({'교통량':'mean'}).reset_index()

In [ ]:
book1.head()

         일자            교통량
0  20220101   87392.666667
1  20220102   84908.666667
2  20220103   99006.000000
3  20220104  101773.000000
4  20220105   99797.333333

In [ ]:
book1['구']='강북구'

In [ ]:
book1.head()

         일자            교통량    구
0  20220101   87392.666667  강북구
1  20220102   84908.666667  강북구
2  20220103   99006.000000  강북구
3  20220104  101773.000000  강북구
4  20220105   99797.333333  강북구

In [ ]:
book1 = book1[['일자','구','교통량']]

In [ ]:
book1.head()

         일자    구            교통량
0  20220101  강북구   87392.666667
1  20220102  강북구   84908.666667
2  20220103  강북구   99006.000000
3  20220104  강북구  101773.000000
4  20220105  강북구   99797.333333

In [ ]:
ttt.shape

(270, 3)

In [ ]:
t1=tt.append(book1)

In [ ]:
t1.shape

(2880, 3)

In [ ]:
t1.reset_index(inplace=True,drop=True)

In [ ]:
t1['일자']=t1['일자'].astype(int)
t1['일자']=t1['일자'].astype(str)

In [ ]:
import datetime
t1['일자1'] = pd.to_datetime(t1['일자'], format="%Y%m%d")

In [ ]:
t1['연도'] = t1['일자1'].dt.strftime('%Y')
t1['월'] = t1['일자1'].dt.strftime('%m')
t1['일'] = t1['일자1'].dt.strftime('%d')

In [ ]:
t1.head()

         일자    구       교통량        일자1    연도   월   일
0  20220101  강남구  123400.0 2022-01-01  2022  01  01
1  20220101  강동구   82512.0 2022-01-01  2022  01  01
2  20220101  강서구  136910.0 2022-01-01  2022  01  01
3  20220101  고양시       0.0 2022-01-01  2022  01  01
4  20220101  과천시   49502.0 2022-01-01  2022  01  01

In [ ]:
t1.replace('01', '1',inplace=True)
t1.replace('02', '2',inplace=True)
t1.replace('03', '3',inplace=True)
t1.replace('04', '4',inplace=True)
t1.replace('05', '5',inplace=True)
t1.replace('06', '6',inplace=True)
t1.replace('07', '7',inplace=True)
t1.replace('08', '8',inplace=True)
t1.replace('09', '9',inplace=True)

In [ ]:
t1.head()

         일자    구       교통량        일자1    연도  월  일
0  20220101  강남구  123400.0 2022-01-01  2022  1  1
1  20220101  강동구   82512.0 2022-01-01  2022  1  1
2  20220101  강서구  136910.0 2022-01-01  2022  1  1
3  20220101  고양시       0.0 2022-01-01  2022  1  1
4  20220101  과천시   49502.0 2022-01-01  2022  1  1

In [ ]:
t1.drop(columns=['일자','일자1'],axis=1,inplace=True)

In [ ]:
t1.head()

     구       교통량    연도  월  일
0  강남구  123400.0  2022  1  1
1  강동구   82512.0  2022  1  1
2  강서구  136910.0  2022  1  1
3  고양시       0.0  2022  1  1
4  과천시   49502.0  2022  1  1

In [ ]:
t1['구'].unique()

array(['강남구', '강동구', '강서구', '고양시', '과천시', '관악구', '광명시', '광진구', '구로구',
       '구리시', '금천구', '김포시', '노원구', '도봉구', '동대문구', '동작구', '마포구', '부천시',
       '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구', '용산구', '은평구',
       '종로구', '중구', '중랑구', '하남시', '강북구'], dtype=object)

In [ ]:
t1.drop(t1.loc[t1['구']=='고양시'].index, inplace=True)
t1.drop(t1.loc[t1['구']=='과천시'].index, inplace=True)
t1.drop(t1.loc[t1['구']=='구리시'].index, inplace=True)
t1.drop(t1.loc[t1['구']=='김포시'].index, inplace=True)
t1.drop(t1.loc[t1['구']=='부천시'].index, inplace=True)
t1.drop(t1.loc[t1['구']=='하남시'].index, inplace=True)

In [ ]:
t1['구'].unique()

array(['강남구', '강동구', '강서구', '관악구', '광명시', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구', '강북구'],
      dtype=object)

In [ ]:
t1.drop(t1.loc[t1['구']=='광명시'].index, inplace=True)

In [ ]:
t1['구'].describe()

count     2250
unique      25
top        강남구
freq        90
Name: 구, dtype: object

In [ ]:
t1.reset_index(drop=True,inplace=True)

In [ ]:
t1.head()

     구       교통량    연도  월  일
0  강남구  123400.0  2022  1  1
1  강동구   82512.0  2022  1  1
2  강서구  136910.0  2022  1  1
3  관악구   63307.0  2022  1  1
4  광진구   72723.0  2022  1  1

## 승하차 2022

In [ ]:
import os

In [ ]:
os.listdir('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/승하차/')

['서울교통공사_역별 월별 장애인 승하차인원 정보_20220228.csv',
 '서울교통공사_역별 월별 장애인 승하차인원 정보_20211231.csv',
 '서울교통공사_역별 월별 장애인 승하차인원 정보_20201231.csv',
 '서울교통공사_월별 장애인 승하차인원_20191231.csv',
 '서울교통공사 2021년 일별 역별 시간대별 승하차인원(1_8호선).csv',
 '서울교통공사 2020년 일별 역별 시간대별 승하차인원(1_8호선).csv',
 '서울교통공사 2019년 일별 역별 시간대별 승하차인원(1_8호선).xlsx',
 '서울교통공사_역별 일별 시간대별 승하차인원 정보_20220430.csv']

In [ ]:
get2022 = pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/승하차/서울교통공사_역별 일별 시간대별 승하차인원 정보_20220430.csv', encoding='cp949')

In [ ]:
get2022

,연번,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,...,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시 이후
0,1,2022-01-01,1,150,서울역,승차,120,137,211,439,...,1323,1566,1686,1591,1358,1062,899,1327,814,234
1,2,2022-01-01,1,150,서울역,하차,113,560,617,910,...,1265,1329,1251,1126,884,764,654,728,416,131
2,3,2022-01-01,1,151,시청,승차,38,66,101,139,...,364,474,550,672,528,420,434,491,232,38
3,4,2022-01-01,1,151,시청,하차,31,195,224,380,...,475,408,377,354,213,131,98,137,61,24
4,5,2022-01-01,1,152,종각,승차,44,71,86,158,...,722,889,964,1024,803,855,1099,1209,255,62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65429,65430,2022-04-30,8,2826,수진,하차,13,85,83,118,...,284,260,297,276,288,225,268,232,265,173
65430,65431,2022-04-30,8,2827,모란,승차,71,103,102,167,...,274,295,333,289,249,163,148,155,141,76
65431,65432,2022-04-30,8,2827,모란,하차,27,108,73,141,...,204,263,278,296,278,249,207,214,166,123
65432,65433,2022-04-30,8,2828,남위례,승차,29,75,114,207,...,297,281,374,296,197,157,116,135,107,47
65433,65434,2022-04-30,8,2828,남위례,하차,19,80,93,155,...,241,262,328,372,310,233,219,221,197,188

In [ ]:
get2022['역명'].unique()

array(['서울역', '시청', '종각', '종로3가', '종로5가', '동대문', '신설동', '제기동',
       '청량리(서울시립대입구)', '동묘앞', '을지로입구', '을지로3가', '을지로4가', '동대문역사문화공원(DDP)',
       '신당', '상왕십리', '왕십리(성동구청)', '한양대', '뚝섬', '성수', '건대입구', '구의(광진구청)',
       '강변(동서울터미널)', '잠실나루', '잠실(송파구청)', '잠실새내', '종합운동장', '삼성(무역센터)',
       '선릉', '역삼', '강남', '교대(법원.검찰청)', '서초', '방배', '사당', '낙성대(강감찬)',
       '서울대입구(관악구청)', '봉천', '신림', '신대방', '구로디지털단지', '대림(구로구청)', '신도림',
       '문래', '영등포구청', '당산', '합정', '홍대입구', '신촌', '이대', '아현', '충정로(경기대입구)',
       '용답', '신답', '도림천', '양천구청', '신정네거리', '용두(동대문구청)', '지축', '구파발',
       '연신내', '불광', '녹번', '홍제', '무악재', '독립문', '경복궁(정부서울청사)', '안국', '동대입구',
       '약수', '금호', '옥수', '압구정', '신사', '잠원', '고속터미널', '남부터미널(예술의전당)',
       '양재(서초구청)', '매봉', '도곡', '대치', '학여울', '대청', '일원', '수서', '가락시장',
       '경찰병원', '오금', '당고개', '상계', '노원', '창동', '쌍문', '수유(강북구청)',
       '미아(서울사이버대학)', '미아사거리', '길음', '성신여대입구(돈암)', '한성대입구(삼선교)', '혜화',
       '충무로', '명동', '회현(남대문시장)', '숙대입구(갈월)', '삼각지', '신용산', '이촌(국립중앙박물관)',
       '동작(현충원)', '총신대입구(이수)', '남태령', '방화', '개화산', '김포공항', '송정', '마곡',
       '발산', '우장산', '화곡', '까치산', '신정(은행정)', '목동', '오목교(목동운동장앞)', '양평',
       '영등포시장', '신길', '여의도', '여의나루', '마포', '공덕', '애오개', '서대문',
       '광화문(세종문화회관)', '청구', '신금호', '행당', '마장', '답십리', '장한평', '군자(능동)',
       '아차산(어린이대공원후문)', '광나루(장신대)', '천호(풍납토성)', '강동', '길동',
       '굽은다리(강동구민회관앞)', '명일', '고덕', '상일동', '둔촌동', '올림픽공원(한국체대)', '방이',
       '개롱', '거여', '마천', '강일', '미사', '하남풍산', '하남시청(덕풍·신장)', '하남검단산', '응암',
       '역촌', '독바위', '구산', '새절(신사)', '증산(명지대앞)', '디지털미디어시티', '월드컵경기장(성산)',
       '마포구청', '망원', '상수', '광흥창(서강)', '대흥(서강대앞)', '효창공원앞', '녹사평(용산구청)',
       '이태원', '한강진', '버티고개', '창신', '보문', '안암(고대병원앞)', '고려대(종암)',
       '월곡(동덕여대)', '상월곡(한국과학기술연구원)', '돌곶이', '석계', '태릉입구', '화랑대(서울여대입구)',
       '봉화산(서울의료원)', '장암', '도봉산', '수락산', '마들', '중계', '하계', '공릉(서울과학기술대)',
       '먹골', '중화', '상봉(시외버스터미널)', '면목', '사가정', '용마산(용마폭포공원)', '중곡',
       '어린이대공원(세종대)', '뚝섬유원지', '청담', '강남구청', '학동', '논현', '반포', '내방', '이수',
       '남성', '숭실대입구(살피재)', '상도', '장승배기', '신대방삼거리', '보라매', '신풍', '남구로',
       '가산디지털단지', '철산', '광명사거리', '천왕', '온수(성공회대입구)', '암사', '강동구청',
       '몽촌토성(평화의문)', '석촌', '송파', '문정', '장지', '복정', '산성',
       '남한산성입구(성남법원.검찰청)', '단대오거리', '신흥', '수진', '모란', '남위례', '신내'],
      dtype=object)

In [ ]:
sub = pd.read_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/서울교통공사_역주소 및 전화번호_20220314.csv', encoding='cp949')

In [ ]:
sub.head()

,연번,역번호,호선,역명,역전화번호,도로명주소,지번주소
0,1,150,1,서울,02-6110-1331,서울특별시 중구 세종대로 지하2(남대문로 5가),서울특별시 중구 남대문로5가 73-6 서울역(1호선)
1,2,151,1,시청,02-6110-1321,서울특별시 중구 세종대로 지하101(정동),서울특별시 중구 정동 5-5 시청역(1호선)
2,3,152,1,종각,02-6110-1311,서울특별시 종로구 종로 지하55(종로1가),서울특별시 종로구 종로1가 54 종각역(1호선)
3,4,153,1,종로3가,02-6110-1301,서울특별시 종로구 종로 지하129(종로3가),서울특별시 종로구 종로3가 10-5 종로3가역(1호선)
4,5,154,1,종로5가,02-6110-1291,서울특별시 종로구 종로 지하216(종로5가),서울특별시 종로구 종로5가 82-1 종로5가역(1호선)

In [ ]:
sub['역명'].unique()

array(['서울', '시청', '종각', '종로3가', '종로5가', '동대문', '신설동', '제기동',
       '청량리(서울시립대입구)', '동묘앞', '을지로입구', '을지로3가', '을지로4가', '동대문역사문화공원(DDP)',
       '신당', '상왕십리', '왕십리(성동구청)', '한양대', '뚝섬', '성수', '건대입구', '구의(광진구청)',
       '강변(동서울터미널)', '잠실나루', '잠실(송파구청)', '잠실새내', '종합운동장', '삼성(무역센터)',
       '선릉', '역삼', '강남', '교대(법원, 검찰청)', '서초', '방배', '사당', '낙성대(강감찬)',
       '서울대입구(관악구청)', '봉천', '신림', '신대방', '구로디지털단지', '대림(구로구청)', '신도림',
       '문래', '영등포구청', '당산', '합정', '홍대입구', '신촌(지하)', '이대', '아현',
       '충정로(경기대입구)', '용답', '신답', '도림천', '양천구청', '신정네거리', '용두(동대문구청)',
       '지축', '구파발', '연신내', '불광', '녹번', '홍제', '무악재', '독립문', '경복궁(정부서울청사)',
       '안국', '충무로', '동대입구', '약수', '금호', '옥수', '압구정', '신사', '잠원', '고속터미널',
       '남부터미널(예술의전당)', '양재(서초구청)', '매봉', '도곡', '대치', '학여울', '대청', '일원',
       '수서', '가락시장', '경찰병원', '오금', '당고개', '상계', '노원', '창동', '쌍문',
       '수유(강북구청)', '미아(서울사이버대학)', '미아사거리 ', '길음', '성신여대입구(돈암)',
       '한성대입구(삼선교)', '혜화', '명동', '회현(남대문시장)', '숙대입구(갈월)', '삼각지', '신용산',
       '이촌(국립중앙박물관)', '동작(현충원)', '총신대입구(이수)', '남태령', '방화', '개화산', '김포공항',
       '송정', '마곡', '발산', '우장산', '화곡', '까치산', '신정(은행정)', '목동',
       '오목교(목동운동장앞)', '양평', '영등포시장', '신길', '여의도', '여의나루', '마포', '공덕',
       '애오개', '서대문', '광화문(세종문화회관)', '종로3가(탑골공원)', '청구', '신금호', '행당', '마장',
       '답십리', '장한평', '군자(능동)', '아차산(어린이대공원후문)', '광나루(장신대)', '천호(풍납토성)',
       '강동', '길동', '굽은다리(강동구민회관앞)', '명일', '고덕', '상일동', '둔촌동',
       '올림픽공원(한국체대)', '방이', '개롱', '거여', '마천', '강일', '미사', '하남풍산',
       '하남시청(덕풍 신장)', '하남검단산', '응암', '역촌', '독바위', '구산', '새절(신사)',
       '증산(명지대앞)', '디지털미디어시티', '월드컵경기장(성산)', '마포구청', '망원', '상수',
       '광흥창(서강)', '대흥(서강대앞)', '효창공원앞', '녹사평(용산구청)', '이태원', '한강진', '버티고개',
       '창신', '보문', '안암(고대병원앞)', '고려대(종암)', '월곡(동덕여대)', '상월곡(한국과학기술연구원)',
       '돌곶이', '석계', '태릉입구', '화랑대(서울여대입구)', '봉화산(서울의료원)', '신내', '장암',
       '도봉산', '수락산', '마들', '중계', '하계', '공릉(서울과학기술대)', '먹골', '중화',
       '상봉(시외버스터미널)', '면목', '사가정', '용마산(용마폭포공원)', '중곡', '어린이대공원(세종대)',
       '뚝섬유원지', '청담', '강남구청', '학동', '논현', '반포', '내방', '이수', '남성',
       '숭실대입구(살피재)', '상도', '장승배기', '신대방삼거리', '보라매', '신풍', '남구로',
       '가산디지털단지', '철산', '광명사거리', '천왕', '온수(성공회대입구)', '암사', '강동구청',
       '몽촌토성(평화의문)', '석촌', '송파', '문정', '장지', '복정', '남위례', '산성',
       '남한산성입구(성남법원 검찰청)', '단대오거리', '신흥', '수진', '모란', '언주', '선정릉', '삼성중앙',
       '봉은사', '삼전', '석촌고분', '송파나루', '한성백제', '둔촌오륜', '중앙보훈병원'],
      dtype=object)

In [ ]:
sub.at[0, '역명'] = '서울역'

In [ ]:
sub['구']=sub['지번주소'].str.split(" ").str[1]

In [ ]:
sub.head()

,연번,역번호,호선,역명,역전화번호,도로명주소,지번주소,구
0,1,150,1,서울역,02-6110-1331,서울특별시 중구 세종대로 지하2(남대문로 5가),서울특별시 중구 남대문로5가 73-6 서울역(1호선),중구
1,2,151,1,시청,02-6110-1321,서울특별시 중구 세종대로 지하101(정동),서울특별시 중구 정동 5-5 시청역(1호선),중구
2,3,152,1,종각,02-6110-1311,서울특별시 종로구 종로 지하55(종로1가),서울특별시 종로구 종로1가 54 종각역(1호선),종로구
3,4,153,1,종로3가,02-6110-1301,서울특별시 종로구 종로 지하129(종로3가),서울특별시 종로구 종로3가 10-5 종로3가역(1호선),종로구
4,5,154,1,종로5가,02-6110-1291,서울특별시 종로구 종로 지하216(종로5가),서울특별시 종로구 종로5가 82-1 종로5가역(1호선),종로구

In [ ]:
sub_1 = sub[['역번호','구']]

In [ ]:
sub_1.head()

   역번호    구
0  150   중구
1  151   중구
2  152  종로구
3  153  종로구
4  154  종로구

In [ ]:
get2022

,연번,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,...,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시 이후
0,1,2022-01-01,1,150,서울역,승차,120,137,211,439,...,1323,1566,1686,1591,1358,1062,899,1327,814,234
1,2,2022-01-01,1,150,서울역,하차,113,560,617,910,...,1265,1329,1251,1126,884,764,654,728,416,131
2,3,2022-01-01,1,151,시청,승차,38,66,101,139,...,364,474,550,672,528,420,434,491,232,38
3,4,2022-01-01,1,151,시청,하차,31,195,224,380,...,475,408,377,354,213,131,98,137,61,24
4,5,2022-01-01,1,152,종각,승차,44,71,86,158,...,722,889,964,1024,803,855,1099,1209,255,62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65429,65430,2022-04-30,8,2826,수진,하차,13,85,83,118,...,284,260,297,276,288,225,268,232,265,173
65430,65431,2022-04-30,8,2827,모란,승차,71,103,102,167,...,274,295,333,289,249,163,148,155,141,76
65431,65432,2022-04-30,8,2827,모란,하차,27,108,73,141,...,204,263,278,296,278,249,207,214,166,123
65432,65433,2022-04-30,8,2828,남위례,승차,29,75,114,207,...,297,281,374,296,197,157,116,135,107,47
65433,65434,2022-04-30,8,2828,남위례,하차,19,80,93,155,...,241,262,328,372,310,233,219,221,197,188

In [ ]:
get_100 = pd.merge(get2022,sub_1, on='역번호')

In [ ]:
get_100.head()

,연번,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,...,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시 이후,구
0,1,2022-01-01,1,150,서울역,승차,120,137,211,439,...,1566,1686,1591,1358,1062,899,1327,814,234,중구
1,2,2022-01-01,1,150,서울역,하차,113,560,617,910,...,1329,1251,1126,884,764,654,728,416,131,중구
2,545,2022-01-02,1,150,서울역,승차,97,137,206,507,...,2308,2029,2316,2131,2226,1803,2014,1593,472,중구
3,546,2022-01-02,1,150,서울역,하차,53,343,489,791,...,1724,1744,1624,1540,1296,1127,928,442,170,중구
4,1089,2022-01-03,1,150,서울역,승차,312,433,1782,2545,...,2207,2533,4364,7854,3031,2163,2277,813,248,중구

In [ ]:
get_100_time = get_100.iloc[:,6:-1]
get_100_time

,06시 이전,06시-07시,07시-08시,08시-09시,09시-10시,10시-11시,11시-12시,12시-13시,13시-14시,14시-15시,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시 이후
0,120,137,211,439,592,878,1278,1508,1502,1323,1566,1686,1591,1358,1062,899,1327,814,234
1,113,560,617,910,1232,1260,1028,1555,1264,1265,1329,1251,1126,884,764,654,728,416,131
2,97,137,206,507,683,1045,1592,1883,2104,1439,2308,2029,2316,2131,2226,1803,2014,1593,472
3,53,343,489,791,1013,1048,1187,1537,1448,1642,1724,1744,1624,1540,1296,1127,928,442,170
4,312,433,1782,2545,1708,1330,1619,1792,1867,1695,2207,2533,4364,7854,3031,2163,2277,813,248
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65429,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
65430,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
65431,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
65432,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
65433,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
get_100_time.sum(axis=1)

0        18525
1        17087
2        26585
3        20146
4        40573
         ...
65429        0
65430        0
65431        0
65432        0
65433        0
Length: 65434, dtype: int64

In [ ]:
get_100['승하차'] = get_100_time.sum(axis=1)

In [ ]:
display(get_100.head())
display(get_100.tail())

,연번,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,...,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시 이후,구,승하차
0,1,2022-01-01,1,150,서울역,승차,120,137,211,439,...,1686,1591,1358,1062,899,1327,814,234,중구,18525
1,2,2022-01-01,1,150,서울역,하차,113,560,617,910,...,1251,1126,884,764,654,728,416,131,중구,17087
2,545,2022-01-02,1,150,서울역,승차,97,137,206,507,...,2029,2316,2131,2226,1803,2014,1593,472,중구,26585
3,546,2022-01-02,1,150,서울역,하차,53,343,489,791,...,1744,1624,1540,1296,1127,928,442,170,중구,20146
4,1089,2022-01-03,1,150,서울역,승차,312,433,1782,2545,...,2533,4364,7854,3031,2163,2277,813,248,중구,40573

,연번,날짜,호선,역번호,역명,구분,06시 이전,06시-07시,07시-08시,08시-09시,...,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시 이후,구,승하차
65429,38586,2022-03-12,6,2649,신내,하차,0,0,0,0,...,0,0,0,0,0,0,0,0,중랑구,0
65430,41313,2022-03-17,6,2649,신내,승차,0,0,0,0,...,0,0,0,0,0,0,0,0,중랑구,0
65431,41314,2022-03-17,6,2649,신내,하차,0,0,0,0,...,0,0,0,0,0,0,0,0,중랑구,0
65432,46767,2022-03-27,6,2649,신내,승차,0,0,0,0,...,0,0,0,0,0,0,0,0,중랑구,0
65433,46768,2022-03-27,6,2649,신내,하차,0,0,0,0,...,0,0,0,0,0,0,0,0,중랑구,0

In [ ]:
get_100.columns

Index(['연번', '날짜', '호선', '역번호', '역명', '구분', '06시 이전', '06시-07시', '07시-08시',
       '08시-09시', '09시-10시', '10시-11시', '11시-12시', '12시-13시', '13시-14시',
       '14시-15시', '15시-16시', '16시-17시', '17시-18시', '18시-19시', '19시-20시',
       '20시-21시', '21시-22시', '22시-23시', '23시 이후', '구', '승하차'],
      dtype='object')

In [ ]:
get_100 = get_100[['날짜', '역번호', '역명', '구분',  '구', '승하차']]
get_100

               날짜   역번호   역명  구분    구    승하차
0      2022-01-01   150  서울역  승차   중구  18525
1      2022-01-01   150  서울역  하차   중구  17087
2      2022-01-02   150  서울역  승차   중구  26585
3      2022-01-02   150  서울역  하차   중구  20146
4      2022-01-03   150  서울역  승차   중구  40573
...           ...   ...  ...  ..  ...    ...
65429  2022-03-12  2649   신내  하차  중랑구      0
65430  2022-03-17  2649   신내  승차  중랑구      0
65431  2022-03-17  2649   신내  하차  중랑구      0
65432  2022-03-27  2649   신내  승차  중랑구      0
65433  2022-03-27  2649   신내  하차  중랑구      0

[65434 rows x 6 columns]

In [ ]:
get200 = get_100.groupby(['구','날짜']).agg({'승하차':'sum'}).reset_index()
get200

        구          날짜     승하차
0     강남구  2022-01-01  227057
1     강남구  2022-01-02  265606
2     강남구  2022-01-03  889835
3     강남구  2022-01-04  924453
4     강남구  2022-01-05  926657
...   ...         ...     ...
3595  하남시  2022-04-26   68430
3596  하남시  2022-04-27   69596
3597  하남시  2022-04-28   69586
3598  하남시  2022-04-29   73933
3599  하남시  2022-04-30   57237

[3600 rows x 3 columns]

In [ ]:
get200['구'].value_counts()

강남구     120
강동구     120
중랑구     120
중구      120
종로구     120
의정부시    120
은평구     120
용산구     120
영등포구    120
양천구     120
송파구     120
성북구     120
성동구     120
성남시     120
서초구     120
서대문구    120
마포구     120
동작구     120
동대문구    120
도봉구     120
노원구     120
금천구     120
구로구     120
광진구     120
광명시     120
관악구     120
고양시     120
강서구     120
강북구     120
하남시     120
Name: 구, dtype: int64

In [ ]:
get200.drop(get200.loc[get200['구']=='고양시'].index, inplace=True)
get200.drop(get200.loc[get200['구']=='광명시'].index, inplace=True)
get200.drop(get200.loc[get200['구']=='성남시'].index, inplace=True)
get200.drop(get200.loc[get200['구']=='의정부시'].index, inplace=True)
get200.drop(get200.loc[get200['구']=='하남시'].index, inplace=True)

In [ ]:
get200.rename(columns={'날짜':'일자'},inplace=True)

## 1차 합산

In [ ]:
# 복지관
bok_f.head()

     구  시설수
0  강남구   17
1  강동구   13
2  강북구    8
3  강서구   17
4  관악구    9

In [ ]:
#인구수
pop22.head()

     구     인구수    연도
0  종로구   5,929  2022
1   중구   5,634  2022
2  용산구   7,686  2022
3  성동구  11,284  2022
4  광진구  12,253  2022

In [ ]:
# 교통량
t1.head()

     구       교통량    연도  월  일
0  강남구  123400.0  2022  1  1
1  강동구   82512.0  2022  1  1
2  강서구  136910.0  2022  1  1
3  관악구   63307.0  2022  1  1
4  광진구   72723.0  2022  1  1

In [ ]:
pop22['구'].describe()

count      25
unique     25
top       종로구
freq        1
Name: 구, dtype: object

In [ ]:
t1['구'].describe()

count     2250
unique      25
top        강남구
freq        90
Name: 구, dtype: object

In [ ]:
#승하차
get200.head()

     구          일자     승하차
0  강남구  2022-01-01  227057
1  강남구  2022-01-02  265606
2  강남구  2022-01-03  889835
3  강남구  2022-01-04  924453
4  강남구  2022-01-05  926657

In [ ]:
get200['구'].describe()

count     3000
unique      25
top        강남구
freq       120
Name: 구, dtype: object

In [ ]:
get200.isnull().sum()

구      0
일자     0
승하차    0
dtype: int64

In [ ]:
pop22['연도']=pop22['연도'].astype(str)

In [ ]:
ffh = pd.merge(left = pop22 , right = t1, how = "outer", on = ["구" ,"연도" ])

In [ ]:
ffh.head()

     구    인구수    연도      교통량  월  일
0  종로구  5,929  2022  42230.0  1  1
1  종로구  5,929  2022  41911.0  1  2
2  종로구  5,929  2022  62140.0  1  3
3  종로구  5,929  2022  64425.0  1  4
4  종로구  5,929  2022  65353.0  1  5

In [ ]:
fffh = pd.merge(left = bok_f , right = ffh, how = "outer", on = "구")

In [ ]:
fffh.head()

     구  시설수     인구수    연도       교통량  월  일
0  강남구   17  15,182  2022  123400.0  1  1
1  강남구   17  15,182  2022  126198.0  1  2
2  강남구   17  15,182  2022  161348.0  1  3
3  강남구   17  15,182  2022  168749.0  1  4
4  강남구   17  15,182  2022  171125.0  1  5

In [ ]:
fffh.isnull().sum()

구      0
시설수    0
인구수    0
연도     0
교통량    0
월      0
일      0
dtype: int64

In [ ]:
fffh['교통량']=fffh['교통량'].round(1)

In [ ]:
#fff[fff['승하차'].isnull()]

In [ ]:
ffffh=fffh[['구','연도','월','일','시설수','인구수','교통량']]

In [ ]:
ffffh.head()

     구    연도  월  일  시설수     인구수       교통량
0  강남구  2022  1  1   17  15,182  123400.0
1  강남구  2022  1  2   17  15,182  126198.0
2  강남구  2022  1  3   17  15,182  161348.0
3  강남구  2022  1  4   17  15,182  168749.0
4  강남구  2022  1  5   17  15,182  171125.0

In [ ]:
ffffh.shape

(2250, 7)

In [ ]:
ffffh.isnull().sum()

구      0
연도     0
월      0
일      0
시설수    0
인구수    0
교통량    0
dtype: int64

In [ ]:
ffffh['구'].describe()

count     2250
unique      25
top        강남구
freq        90
Name: 구, dtype: object

In [ ]:
#ffffh.to_csv('텀프데이터셋2022.csv',index=False)

## best100 콜택시 데이터

In [ ]:
f.head()

         승차일자    시/도 시/군/구  승차건수
0  2019-01-01  서울특별시   강서구   3.0
1  2019-01-01  서울특별시   강서구   9.0
2  2019-01-01  서울특별시   강서구   8.0
3  2019-01-01  서울특별시   강서구   8.0
4  2019-01-01  서울특별시   강서구   5.0

In [ ]:
ffffh.head()

     구    연도  월  일  시설수     인구수       교통량
0  강남구  2022  1  1   17  15,182  123400.0
1  강남구  2022  1  2   17  15,182  126198.0
2  강남구  2022  1  3   17  15,182  161348.0
3  강남구  2022  1  4   17  15,182  168749.0
4  강남구  2022  1  5   17  15,182  171125.0

In [ ]:
ddf=ffffh.copy()

In [ ]:
ddf.replace('1', '01',inplace=True)
ddf.replace('2', '02',inplace=True)
ddf.replace('3', '03',inplace=True)
ddf.replace('4', '04',inplace=True)
ddf.replace('5', '05',inplace=True)
ddf.replace('6', '06',inplace=True)
ddf.replace('7', '07',inplace=True)
ddf.replace('8', '08',inplace=True)
ddf.replace('9', '09',inplace=True)

In [ ]:
ddf.head()

     구    연도   월   일  시설수     인구수       교통량
0  강남구  2022  01  01   17  15,182  123400.0
1  강남구  2022  01  02   17  15,182  126198.0
2  강남구  2022  01  03   17  15,182  161348.0
3  강남구  2022  01  04   17  15,182  168749.0
4  강남구  2022  01  05   17  15,182  171125.0

In [ ]:
ddf['일자'] = ddf['연도'].astype(str) +'-' + ddf['월'].astype(str) + '-' + ddf['일'].astype(str)

In [ ]:
ddf

        구    연도   월   일  시설수     인구수       교통량          일자
0     강남구  2022  01  01   17  15,182  123400.0  2022-01-01
1     강남구  2022  01  02   17  15,182  126198.0  2022-01-02
2     강남구  2022  01  03   17  15,182  161348.0  2022-01-03
3     강남구  2022  01  04   17  15,182  168749.0  2022-01-04
4     강남구  2022  01  05   17  15,182  171125.0  2022-01-05
...   ...   ...  ..  ..  ...     ...       ...         ...
2245  중랑구  2022  03  27    3  20,357  103822.0  2022-03-27
2246  중랑구  2022  03  28    3  20,357  118469.0  2022-03-28
2247  중랑구  2022  03  29    3  20,357  119255.0  2022-03-29
2248  중랑구  2022  03  30    3  20,357  117063.0  2022-03-30
2249  중랑구  2022  03  31    3  20,357  119136.0  2022-03-31

[2250 rows x 8 columns]

In [ ]:
import datetime

ddf['일자'] = pd.to_datetime(ddf['일자'])

In [ ]:
ddf

        구    연도   월   일  시설수     인구수       교통량         일자
0     강남구  2022  01  01   17  15,182  123400.0 2022-01-01
1     강남구  2022  01  02   17  15,182  126198.0 2022-01-02
2     강남구  2022  01  03   17  15,182  161348.0 2022-01-03
3     강남구  2022  01  04   17  15,182  168749.0 2022-01-04
4     강남구  2022  01  05   17  15,182  171125.0 2022-01-05
...   ...   ...  ..  ..  ...     ...       ...        ...
2245  중랑구  2022  03  27    3  20,357  103822.0 2022-03-27
2246  중랑구  2022  03  28    3  20,357  118469.0 2022-03-28
2247  중랑구  2022  03  29    3  20,357  119255.0 2022-03-29
2248  중랑구  2022  03  30    3  20,357  117063.0 2022-03-30
2249  중랑구  2022  03  31    3  20,357  119136.0 2022-03-31

[2250 rows x 8 columns]

In [ ]:
ddf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2250 entries, 0 to 2249
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구       2250 non-null   object
 1   연도      2250 non-null   object
 2   월       2250 non-null   object
 3   일       2250 non-null   object
 4   시설수     2250 non-null   int64
 5   인구수     2250 non-null   object
 6   교통량     2250 non-null   float64
 7   일자      2250 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 158.2+ KB

In [ ]:
ddf.columns

Index(['구', '연도', '월', '일', '시설수', '인구수', '교통량', '일자'], dtype='object')

In [ ]:
ddf = ddf[['일자', '구', '연도', '월', '일', '시설수', '인구수', '교통량']]

In [ ]:
ddf

             일자    구    연도   월   일  시설수     인구수       교통량
0    2022-01-01  강남구  2022  01  01   17  15,182  123400.0
1    2022-01-02  강남구  2022  01  02   17  15,182  126198.0
2    2022-01-03  강남구  2022  01  03   17  15,182  161348.0
3    2022-01-04  강남구  2022  01  04   17  15,182  168749.0
4    2022-01-05  강남구  2022  01  05   17  15,182  171125.0
...         ...  ...   ...  ..  ..  ...     ...       ...
2245 2022-03-27  중랑구  2022  03  27    3  20,357  103822.0
2246 2022-03-28  중랑구  2022  03  28    3  20,357  118469.0
2247 2022-03-29  중랑구  2022  03  29    3  20,357  119255.0
2248 2022-03-30  중랑구  2022  03  30    3  20,357  117063.0
2249 2022-03-31  중랑구  2022  03  31    3  20,357  119136.0

[2250 rows x 8 columns]

In [ ]:
best_seoul

              승차일자    시/도 시/군/구  승차건수
0       2019-01-01  서울특별시   강서구   3.0
1       2019-01-01  서울특별시   마포구   7.0
2       2019-01-01  서울특별시   성북구   7.0
3       2019-01-01  서울특별시   송파구   7.0
4       2019-01-01  서울특별시   은평구   7.0
...            ...    ...   ...   ...
118458  2022-04-15  서울특별시   마포구  16.0
118459  2022-04-15  서울특별시   마포구  16.0
118460  2022-04-15  서울특별시   서초구  16.0
118461  2022-04-15  서울특별시   성북구  16.0
118462  2022-04-15  서울특별시   종로구  19.0

[118463 rows x 4 columns]

In [ ]:
best_seoul['승차일자'] = pd.to_datetime(best_seoul['승차일자'])

In [ ]:
ddf.columns = ['승차일자', '시/군/구', '연도','월','일','시설수','인구수','교통량']

In [ ]:
ddf

             일자    구    연도   월   일  시설수     인구수       교통량
0    2022-01-01  강남구  2022  01  01   17  15,182  123400.0
1    2022-01-02  강남구  2022  01  02   17  15,182  126198.0
2    2022-01-03  강남구  2022  01  03   17  15,182  161348.0
3    2022-01-04  강남구  2022  01  04   17  15,182  168749.0
4    2022-01-05  강남구  2022  01  05   17  15,182  171125.0
...         ...  ...   ...  ..  ..  ...     ...       ...
2245 2022-03-27  중랑구  2022  03  27    3  20,357  103822.0
2246 2022-03-28  중랑구  2022  03  28    3  20,357  118469.0
2247 2022-03-29  중랑구  2022  03  29    3  20,357  119255.0
2248 2022-03-30  중랑구  2022  03  30    3  20,357  117063.0
2249 2022-03-31  중랑구  2022  03  31    3  20,357  119136.0

[2250 rows x 8 columns]

In [ ]:
get200.rename(columns={'일자':'승차일자'},inplace=True)

In [ ]:
get200['승차일자'] = pd.to_datetime(get200['승차일자'])

In [ ]:
get200.rename(columns={'구':'시/군/구'},inplace=True)

In [ ]:
get200.head()

  시/군/구       승차일자     승하차
0   강남구 2022-01-01  227057
1   강남구 2022-01-02  265606
2   강남구 2022-01-03  889835
3   강남구 2022-01-04  924453
4   강남구 2022-01-05  926657

In [ ]:
ddf_f = pd.merge(left = ddf, right = get200, how = "left", on = ["승차일자" ,"시/군/구"])
ddf_f

           승차일자 시/군/구    연도   월   일  시설수     인구수       교통량     승하차
0    2022-01-01   강남구  2022  01  01   17  15,182  123400.0  227057
1    2022-01-02   강남구  2022  01  02   17  15,182  126198.0  265606
2    2022-01-03   강남구  2022  01  03   17  15,182  161348.0  889835
3    2022-01-04   강남구  2022  01  04   17  15,182  168749.0  924453
4    2022-01-05   강남구  2022  01  05   17  15,182  171125.0  926657
...         ...   ...   ...  ..  ..  ...     ...       ...     ...
2245 2022-03-27   중랑구  2022  03  27    3  20,357  103822.0   81475
2246 2022-03-28   중랑구  2022  03  28    3  20,357  118469.0  157197
2247 2022-03-29   중랑구  2022  03  29    3  20,357  119255.0  159405
2248 2022-03-30   중랑구  2022  03  30    3  20,357  117063.0  157206
2249 2022-03-31   중랑구  2022  03  31    3  20,357  119136.0  159155

[2250 rows x 9 columns]

In [ ]:
ddf_final = pd.merge(left = ddf_f, right = best_seoul, how = "left", on = ["승차일자" ,"시/군/구"])
ddf_final

,승차일자,시/군/구,연도,월,일,시설수,인구수,교통량,승하차,시/도,승차건수
0,2022-01-01,강남구,2022,01,01,17,"15,182",123400.0,227057,서울특별시,6.0
1,2022-01-01,강남구,2022,01,01,17,"15,182",123400.0,227057,서울특별시,5.0
2,2022-01-01,강남구,2022,01,01,17,"15,182",123400.0,227057,서울특별시,10.0
3,2022-01-01,강남구,2022,01,01,17,"15,182",123400.0,227057,서울특별시,7.0
4,2022-01-01,강남구,2022,01,01,17,"15,182",123400.0,227057,서울특별시,3.0
...,...,...,...,...,...,...,...,...,...,...,...
8976,2022-03-31,중랑구,2022,03,31,3,"20,357",119136.0,159155,서울특별시,41.0
8977,2022-03-31,중랑구,2022,03,31,3,"20,357",119136.0,159155,서울특별시,18.0
8978,2022-03-31,중랑구,2022,03,31,3,"20,357",119136.0,159155,서울특별시,18.0
8979,2022-03-31,중랑구,2022,03,31,3,"20,357",119136.0,159155,서울특별시,18.0
8980,2022-03-31,중랑구,2022,03,31,3,"20,357",119136.0,159155,서울특별시,16.0

In [ ]:
ddf_final.isnull().sum()

승차일자       0
시/군/구      0
연도         0
월          0
일          0
시설수        0
인구수        0
교통량        0
승하차        0
시/도      120
승차건수     120
dtype: int64

In [ ]:
ddf_final = ddf_final.drop('시/도', axis=1)
ddf_final

           승차일자 시/군/구    연도   월   일  시설수     인구수       교통량     승하차  승차건수
0    2022-01-01   강남구  2022  01  01   17  15,182  123400.0  227057   6.0
1    2022-01-01   강남구  2022  01  01   17  15,182  123400.0  227057   5.0
2    2022-01-01   강남구  2022  01  01   17  15,182  123400.0  227057  10.0
3    2022-01-01   강남구  2022  01  01   17  15,182  123400.0  227057   7.0
4    2022-01-01   강남구  2022  01  01   17  15,182  123400.0  227057   3.0
...         ...   ...   ...  ..  ..  ...     ...       ...     ...   ...
8976 2022-03-31   중랑구  2022  03  31    3  20,357  119136.0  159155  41.0
8977 2022-03-31   중랑구  2022  03  31    3  20,357  119136.0  159155  18.0
8978 2022-03-31   중랑구  2022  03  31    3  20,357  119136.0  159155  18.0
8979 2022-03-31   중랑구  2022  03  31    3  20,357  119136.0  159155  18.0
8980 2022-03-31   중랑구  2022  03  31    3  20,357  119136.0  159155  16.0

[8981 rows x 10 columns]

In [ ]:
ddf_final = ddf_final.fillna(' ')

In [ ]:
ddf_final[ddf_final['승차건수'] == ' ']

           승차일자 시/군/구    연도   월   일  시설수     인구수      교통량     승하차 승차건수
2460 2022-02-01   관악구  2022  02  01    9  20,211  32156.0   96330
2828 2022-03-13   광진구  2022  03  13    9  12,253  79922.0  175237
3225 2022-01-01   금천구  2022  01  01    6  11,458  56810.0   17081
3226 2022-01-02   금천구  2022  01  02    6  11,458  54804.0   17276
3228 2022-01-04   금천구  2022  01  04    6  11,458  78112.0   95571
...         ...   ...   ...  ..  ..  ...     ...      ...     ...  ...
8511 2022-03-15    중구  2022  03  15    8   5,634  59429.0  594024
8514 2022-03-18    중구  2022  03  18    8   5,634  58541.0  600959
8518 2022-03-22    중구  2022  03  22    8   5,634  59601.0  603630
8521 2022-03-25    중구  2022  03  25    8   5,634  61285.0  629543
8531 2022-03-30    중구  2022  03  30    8   5,634  60122.0  622657

[120 rows x 10 columns]

In [ ]:
ddf_final = ddf_final.replace(' ', 0)
ddf_final

           승차일자 시/군/구    연도   월   일  시설수     인구수       교통량     승하차  승차건수
0    2022-01-01   강남구  2022  01  01   17  15,182  123400.0  227057   6.0
1    2022-01-01   강남구  2022  01  01   17  15,182  123400.0  227057   5.0
2    2022-01-01   강남구  2022  01  01   17  15,182  123400.0  227057  10.0
3    2022-01-01   강남구  2022  01  01   17  15,182  123400.0  227057   7.0
4    2022-01-01   강남구  2022  01  01   17  15,182  123400.0  227057   3.0
...         ...   ...   ...  ..  ..  ...     ...       ...     ...   ...
8976 2022-03-31   중랑구  2022  03  31    3  20,357  119136.0  159155  41.0
8977 2022-03-31   중랑구  2022  03  31    3  20,357  119136.0  159155  18.0
8978 2022-03-31   중랑구  2022  03  31    3  20,357  119136.0  159155  18.0
8979 2022-03-31   중랑구  2022  03  31    3  20,357  119136.0  159155  18.0
8980 2022-03-31   중랑구  2022  03  31    3  20,357  119136.0  159155  16.0

[8981 rows x 10 columns]

In [ ]:
ddf_final = ddf_final.reset_index(drop=True)
ddf_final

           승차일자 시/군/구    연도   월   일  시설수     인구수       교통량     승하차  승차건수
0    2022-01-01   강남구  2022  01  01   17  15,182  123400.0  227057   6.0
1    2022-01-01   강남구  2022  01  01   17  15,182  123400.0  227057   5.0
2    2022-01-01   강남구  2022  01  01   17  15,182  123400.0  227057  10.0
3    2022-01-01   강남구  2022  01  01   17  15,182  123400.0  227057   7.0
4    2022-01-01   강남구  2022  01  01   17  15,182  123400.0  227057   3.0
...         ...   ...   ...  ..  ..  ...     ...       ...     ...   ...
8976 2022-03-31   중랑구  2022  03  31    3  20,357  119136.0  159155  41.0
8977 2022-03-31   중랑구  2022  03  31    3  20,357  119136.0  159155  18.0
8978 2022-03-31   중랑구  2022  03  31    3  20,357  119136.0  159155  18.0
8979 2022-03-31   중랑구  2022  03  31    3  20,357  119136.0  159155  18.0
8980 2022-03-31   중랑구  2022  03  31    3  20,357  119136.0  159155  16.0

[8981 rows x 10 columns]

In [ ]:
ddf_final['승차일자'].nunique()

90

In [ ]:
ddf_final.columns

Index(['승차일자', '시/군/구', '연도', '월', '일', '시설수', '인구수', '교통량', '승하차', '승차건수'], dtype='object')

In [ ]:
ddf_final = ddf_final.groupby(['승차일자', '시/군/구', '연도', '월', '일', '시설수', '인구수', '교통량', '승하차']).agg({'승차건수':'sum'}).reset_index()

In [ ]:
ddf_final

           승차일자 시/군/구    연도   월   일  시설수     인구수       교통량     승하차   승차건수
0    2022-01-01   강남구  2022  01  01   17  15,182  123400.0  227057   38.0
1    2022-01-01   강동구  2022  01  01   13  18,614   82512.0  114019   30.0
2    2022-01-01   강북구  2022  01  01    8  17,395   87392.7   65767   14.0
3    2022-01-01   강서구  2022  01  01   17  28,546  136910.0  105170   92.0
4    2022-01-01   관악구  2022  01  01    9  20,211   63307.0  140191   13.0
...         ...   ...   ...  ..  ..  ...     ...       ...     ...    ...
2245 2022-03-31   용산구  2022  03  31    6   7,686  235080.0  172765    0.0
2246 2022-03-31   은평구  2022  03  31   10  21,756   48955.0  302792  144.0
2247 2022-03-31   종로구  2022  03  31    4   5,929   65631.0  516732  112.0
2248 2022-03-31    중구  2022  03  31    8   5,634   60765.0  630907   19.0
2249 2022-03-31   중랑구  2022  03  31    3  20,357  119136.0  159155  111.0

[2250 rows x 10 columns]

In [ ]:
ddf_final.columns

Index(['승차일자', '시/군/구', '연도', '월', '일', '시설수', '인구수', '교통량', '승하차', '승차건수'], dtype='object')

In [ ]:
ddf_final.columns = ['일자', '시/군/구', '연도', '월', '일', '시설수', '인구수', '교통량', '승하차', '승차건수']

## 2차 합산(call 데이터도)

In [ ]:
fg = pd.merge(left = ddf_final , right = call, how = "left", on = "일자")

In [ ]:
fg

,일자,시/군/구,연도,월,일,시설수,인구수,교통량,승하차,승차건수,차량운행,접수건,탑승건,평균대기시간,평균요금,평균승차거리
0,2022-01-01,강남구,2022,01,01,17,"15,182",123400.0,227057,38.0,297,1281,1133,22.0,2378,9965
1,2022-01-01,강동구,2022,01,01,13,"18,614",82512.0,114019,30.0,297,1281,1133,22.0,2378,9965
2,2022-01-01,강북구,2022,01,01,8,"17,395",87392.7,65767,14.0,297,1281,1133,22.0,2378,9965
3,2022-01-01,강서구,2022,01,01,17,"28,546",136910.0,105170,92.0,297,1281,1133,22.0,2378,9965
4,2022-01-01,관악구,2022,01,01,9,"20,211",63307.0,140191,13.0,297,1281,1133,22.0,2378,9965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2245,2022-03-31,용산구,2022,03,31,6,"7,686",235080.0,172765,0.0,558,4643,4083,27.4,2236,8578
2246,2022-03-31,은평구,2022,03,31,10,"21,756",48955.0,302792,144.0,558,4643,4083,27.4,2236,8578
2247,2022-03-31,종로구,2022,03,31,4,"5,929",65631.0,516732,112.0,558,4643,4083,27.4,2236,8578
2248,2022-03-31,중구,2022,03,31,8,"5,634",60765.0,630907,19.0,558,4643,4083,27.4,2236,8578
2249,2022-03-31,중랑구,2022,03,31,3,"20,357",119136.0,159155,111.0,558,4643,4083,27.4,2236,8578

In [ ]:
fg.isnull().sum()

일자        0
시/군/구     0
연도        0
월         0
일         0
시설수       0
인구수       0
교통량       0
승하차       0
승차건수      0
차량운행      0
접수건       0
탑승건       0
평균대기시간    0
평균요금      0
평균승차거리    0
dtype: int64

In [ ]:
fg.head()

,일자,시/군/구,연도,월,일,시설수,인구수,교통량,승하차,승차건수,차량운행,접수건,탑승건,평균대기시간,평균요금,평균승차거리
0,2022-01-01,강남구,2022,01,01,17,"15,182",123400.0,227057,38.0,297,1281,1133,22.0,2378,9965
1,2022-01-01,강동구,2022,01,01,13,"18,614",82512.0,114019,30.0,297,1281,1133,22.0,2378,9965
2,2022-01-01,강북구,2022,01,01,8,"17,395",87392.7,65767,14.0,297,1281,1133,22.0,2378,9965
3,2022-01-01,강서구,2022,01,01,17,"28,546",136910.0,105170,92.0,297,1281,1133,22.0,2378,9965
4,2022-01-01,관악구,2022,01,01,9,"20,211",63307.0,140191,13.0,297,1281,1133,22.0,2378,9965

In [ ]:
dfg = fg.copy()

## holiday 컬럼 추가

In [ ]:
dfg

,일자,시/군/구,연도,월,일,시설수,인구수,교통량,승하차,승차건수,차량운행,접수건,탑승건,평균대기시간,평균요금,평균승차거리
0,2022-01-01,강남구,2022,01,01,17,"15,182",123400.0,227057,38.0,297,1281,1133,22.0,2378,9965
1,2022-01-01,강동구,2022,01,01,13,"18,614",82512.0,114019,30.0,297,1281,1133,22.0,2378,9965
2,2022-01-01,강북구,2022,01,01,8,"17,395",87392.7,65767,14.0,297,1281,1133,22.0,2378,9965
3,2022-01-01,강서구,2022,01,01,17,"28,546",136910.0,105170,92.0,297,1281,1133,22.0,2378,9965
4,2022-01-01,관악구,2022,01,01,9,"20,211",63307.0,140191,13.0,297,1281,1133,22.0,2378,9965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2245,2022-03-31,용산구,2022,03,31,6,"7,686",235080.0,172765,0.0,558,4643,4083,27.4,2236,8578
2246,2022-03-31,은평구,2022,03,31,10,"21,756",48955.0,302792,144.0,558,4643,4083,27.4,2236,8578
2247,2022-03-31,종로구,2022,03,31,4,"5,929",65631.0,516732,112.0,558,4643,4083,27.4,2236,8578
2248,2022-03-31,중구,2022,03,31,8,"5,634",60765.0,630907,19.0,558,4643,4083,27.4,2236,8578
2249,2022-03-31,중랑구,2022,03,31,3,"20,357",119136.0,159155,111.0,558,4643,4083,27.4,2236,8578

In [ ]:
dfg.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2250 entries, 0 to 2249
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   일자      2250 non-null   datetime64[ns]
 1   시/군/구   2250 non-null   object
 2   연도      2250 non-null   object
 3   월       2250 non-null   object
 4   일       2250 non-null   object
 5   시설수     2250 non-null   int64
 6   인구수     2250 non-null   object
 7   교통량     2250 non-null   float64
 8   승하차     2250 non-null   int64
 9   승차건수    2250 non-null   float64
 10  차량운행    2250 non-null   int64
 11  접수건     2250 non-null   int64
 12  탑승건     2250 non-null   int64
 13  평균대기시간  2250 non-null   float64
 14  평균요금    2250 non-null   int64
 15  평균승차거리  2250 non-null   int64
dtypes: datetime64[ns](1), float64(3), int64(7), object(5)
memory usage: 298.8+ KB

In [ ]:
import datetime
dfg['일자'] = pd.to_datetime(dfg['일자'])

In [ ]:
dfg

,일자,시/군/구,연도,월,일,시설수,인구수,교통량,승하차,승차건수,차량운행,접수건,탑승건,평균대기시간,평균요금,평균승차거리
0,2022-01-01,강남구,2022,01,01,17,"15,182",123400.0,227057,38.0,297,1281,1133,22.0,2378,9965
1,2022-01-01,강동구,2022,01,01,13,"18,614",82512.0,114019,30.0,297,1281,1133,22.0,2378,9965
2,2022-01-01,강북구,2022,01,01,8,"17,395",87392.7,65767,14.0,297,1281,1133,22.0,2378,9965
3,2022-01-01,강서구,2022,01,01,17,"28,546",136910.0,105170,92.0,297,1281,1133,22.0,2378,9965
4,2022-01-01,관악구,2022,01,01,9,"20,211",63307.0,140191,13.0,297,1281,1133,22.0,2378,9965
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2245,2022-03-31,용산구,2022,03,31,6,"7,686",235080.0,172765,0.0,558,4643,4083,27.4,2236,8578
2246,2022-03-31,은평구,2022,03,31,10,"21,756",48955.0,302792,144.0,558,4643,4083,27.4,2236,8578
2247,2022-03-31,종로구,2022,03,31,4,"5,929",65631.0,516732,112.0,558,4643,4083,27.4,2236,8578
2248,2022-03-31,중구,2022,03,31,8,"5,634",60765.0,630907,19.0,558,4643,4083,27.4,2236,8578
2249,2022-03-31,중랑구,2022,03,31,3,"20,357",119136.0,159155,111.0,558,4643,4083,27.4,2236,8578

In [ ]:
from datetime import date

def is_weekend(d):
    return d.weekday() > 4

print(is_weekend(date(2022, 5, 13))) #금
print(is_weekend(date(2022, 5, 14))) #토

False
True

In [ ]:
dfg['휴일여부'] = ''

for i in range(len(dfg)):
  dfg['휴일여부'][i] = is_weekend(dfg['일자'][i])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
dfg

,일자,시/군/구,연도,월,일,시설수,인구수,교통량,승하차,승차건수,차량운행,접수건,탑승건,평균대기시간,평균요금,평균승차거리,휴일여부
0,2022-01-01,강남구,2022,01,01,17,"15,182",123400.0,227057,38.0,297,1281,1133,22.0,2378,9965,True
1,2022-01-01,강동구,2022,01,01,13,"18,614",82512.0,114019,30.0,297,1281,1133,22.0,2378,9965,True
2,2022-01-01,강북구,2022,01,01,8,"17,395",87392.7,65767,14.0,297,1281,1133,22.0,2378,9965,True
3,2022-01-01,강서구,2022,01,01,17,"28,546",136910.0,105170,92.0,297,1281,1133,22.0,2378,9965,True
4,2022-01-01,관악구,2022,01,01,9,"20,211",63307.0,140191,13.0,297,1281,1133,22.0,2378,9965,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2245,2022-03-31,용산구,2022,03,31,6,"7,686",235080.0,172765,0.0,558,4643,4083,27.4,2236,8578,False
2246,2022-03-31,은평구,2022,03,31,10,"21,756",48955.0,302792,144.0,558,4643,4083,27.4,2236,8578,False
2247,2022-03-31,종로구,2022,03,31,4,"5,929",65631.0,516732,112.0,558,4643,4083,27.4,2236,8578,False
2248,2022-03-31,중구,2022,03,31,8,"5,634",60765.0,630907,19.0,558,4643,4083,27.4,2236,8578,False
2249,2022-03-31,중랑구,2022,03,31,3,"20,357",119136.0,159155,111.0,558,4643,4083,27.4,2236,8578,False

In [ ]:
dfg = dfg.replace(True, 1)
dfg = dfg.replace(False, 0)

In [ ]:
dfg

,일자,시/군/구,연도,월,일,시설수,인구수,교통량,승하차,승차건수,차량운행,접수건,탑승건,평균대기시간,평균요금,평균승차거리,휴일여부
0,2022-01-01,강남구,2022,01,01,17,"15,182",123400.0,227057,38.0,297,1281,1133,22.0,2378,9965,1
1,2022-01-01,강동구,2022,01,01,13,"18,614",82512.0,114019,30.0,297,1281,1133,22.0,2378,9965,1
2,2022-01-01,강북구,2022,01,01,8,"17,395",87392.7,65767,14.0,297,1281,1133,22.0,2378,9965,1
3,2022-01-01,강서구,2022,01,01,17,"28,546",136910.0,105170,92.0,297,1281,1133,22.0,2378,9965,1
4,2022-01-01,관악구,2022,01,01,9,"20,211",63307.0,140191,13.0,297,1281,1133,22.0,2378,9965,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2245,2022-03-31,용산구,2022,03,31,6,"7,686",235080.0,172765,0.0,558,4643,4083,27.4,2236,8578,0
2246,2022-03-31,은평구,2022,03,31,10,"21,756",48955.0,302792,144.0,558,4643,4083,27.4,2236,8578,0
2247,2022-03-31,종로구,2022,03,31,4,"5,929",65631.0,516732,112.0,558,4643,4083,27.4,2236,8578,0
2248,2022-03-31,중구,2022,03,31,8,"5,634",60765.0,630907,19.0,558,4643,4083,27.4,2236,8578,0
2249,2022-03-31,중랑구,2022,03,31,3,"20,357",119136.0,159155,111.0,558,4643,4083,27.4,2236,8578,0

In [ ]:
dfg['휴일여부'].value_counts()

0    1600
1     650
Name: 휴일여부, dtype: int64

In [ ]:
dfg.isnull().sum()

일자        0
시/군/구     0
연도        0
월         0
일         0
시설수       0
인구수       0
교통량       0
승하차       0
승차건수      0
차량운행      0
접수건       0
탑승건       0
평균대기시간    0
평균요금      0
평균승차거리    0
휴일여부      0
dtype: int64

In [ ]:
dfg['시/군/구'].describe()

count     2250
unique      25
top        강남구
freq        90
Name: 시/군/구, dtype: object

In [ ]:
dfg['일자'].describe()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning:

Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.

count                    2250
unique                     90
top       2022-01-01 00:00:00
freq                       25
first     2022-01-01 00:00:00
last      2022-03-31 00:00:00
Name: 일자, dtype: object

In [ ]:
dfg.to_csv('/content/drive/Shareddrives/2022-01_데이터마이닝이론및응용/0_텀프로젝트/데이터/텀프데이터셋2022찐최종.csv',encoding='utf-8-sig', index=False)